<header class="l-header p-header u-zindex_100">
  <div class="p-header-inner">
    <h1 class="p-header-logo c-logo">
      <a class="p-header-logo-inner c-logo-inner" href="<%= path %>">
        <img src="<%= path %>assets/images/header/header-logo.png" alt="Happy Elements株式会社 Recruitment" class="p-header-logo-img c-logo-img">
        <p class="p-header-logo-text c-logo-text">Recruitment</p>
      </a>
    </h1>
    <div class="p-header-inner-right">
      <a href="<%= path %>recruit/joblist/" class="p-header-entry c-btn">Entry</a>
      <button class="p-header-menuBtn js-menu-btn" aria-label="Menuを開く">
        <span class="p-header-menuBtn-bar js-menu-btn-bar u-zindex_1"></span>
        <span class="p-header-menuBtn-bar js-menu-btn-bar u-zindex_1"></span>
        <div class="p-header-menuBtn-inner">
        </div>
        <!-- /.p-header-menuBtn-inner -->
      </button>
    </div>
    <!-- /.p-header-inner-right -->
    <div class="p-header-nav js-menu-show u-zindex_-1">
      <nav class="p-header-nav-inner">
        <div class="p-header-nav-wrapper">
          <ul class="p-header-nav-list">
            <li class="p-header-nav-item js-menu-show-text01"><a href="<%= path %>" class="p-header-nav-link">TOP<span>トップ</span></a></li>
            <li class="p-header-nav-item js-menu-show-text02"><a href="<%= path %>message/" class="p-header-nav-link">MESSAGE<span>メッセージ</span></a></li>
            <li class="p-header-nav-item js-menu-show-text03"><a href="<%= path %>about/" class="p-header-nav-link">ABOUT<span>Happy Elements<br>株式会社について</span></a></li>
          </ul>
          <ul class="p-header-nav-list">
            <li class="p-header-nav-item js-menu-show-text04"><a href="<%= path %>business/" class="p-header-nav-link">BUSINESS<span>事業紹介</span></a></li>
            <li class="p-header-nav-item js-menu-show-text05"><a href="<%= path %>jobs/" class="p-header-nav-link">JOBS<span>職種紹介</span></a></li>
            <li class="p-header-nav-item js-menu-show-text06 u-show-pc"><a href="<%= path %>interview/" class="p-header-nav-link">INTERVIEW<span>社員<br class="u-tb-show">インタビュー</span></a></li>
          </ul>
          <ul class="p-header-icon-list js-menu-show-icons u-sp-tb-show-flex">
            <li class="p-header-icon-item">
              <a href="https://www.youtube.com/channel/UCnGsO8vRLlw4L87fUQlTwMg" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_youtube.png" alt="youtube">
              </a>
            </li>
            <li class="p-header-icon-item">
              <a href="https://note.com/happyelements/" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_note.png" alt="note">
              </a>
            </li>
            <li class="p-header-icon-item">
              <a href="https://twitter.com/HappyElementsRC" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_twitter.png" alt="twitter">
              </a>
            </li>
          </ul>
          <ul class="p-header-nav-list">
            <li class="p-header-nav-item js-menu-show-text07 u-show-sp-tb"><a href="<%= path %>interview/" class="p-header-nav-link">INTERVIEW<span>社員<br class="u-sp-show">インタビュー</span></a></li>
            <li class="p-header-nav-item js-menu-show-text08 u-sp-border-none u-nav-item-mb">
              <a href="<%= path %>culture" class="p-header-nav-link u-sp-border">CULTURE<span>Happy Elements<br>株式会社の企業文化</span></a>
              <ul class="p-header-nav-item-list">
                <li class="p-header-nav-item-item"><a href="<%= path %>culture/character/" class="p-header-nav-item-link">Happy Elements<br>株式会社のカルチャー</a></li>
                <li class="p-header-nav-item-item"><a href="<%= path %>culture/officetour/" class="p-header-nav-item-link">オフィスツアー</a></li>
                <li class="p-header-nav-item-item"><a href="<%= path %>culture/data/" class="p-header-nav-item-link">データで見る<br>HappyElements株式会社</a></li>
                <li class="p-header-nav-item-item"><a href="<%= path %>culture/benefit/" class="p-header-nav-item-link">福利厚生 / 制度</a></li>
              </ul>
            </li>
            <li class="p-header-nav-item js-menu-show-text09 u-border-none">
              <a href="<%= path %>#top-recruit" class="p-header-nav-link u-sp-border">RECRUIT<span>採用情報</span></a>
              <!-- <span class="p-header-nav-link u-sp-border u-event-none">RECRUIT<span>採用情報</span></span> -->
              <ul class="p-header-nav-item-list">
                <li class="p-header-nav-item-item"><a href="<%= path %>recruit/joblist/" class="p-header-nav-item-link">募集要項 / 選考の流れ</a></li>
                <li class="p-header-nav-item-item"><a href="<%= path %>recruit/faq/" class="p-header-nav-item-link">よくある質問</a></li>
                <li class="p-header-nav-item-item"><a href="<%= path %>recruit/message/" class="p-header-nav-item-link">人事からのメッセージ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="p-header-icon-list js-menu-show-icons u-sp-tb-none-flex">
            <li class="p-header-icon-item">
              <a href="https://www.youtube.com/channel/UCnGsO8vRLlw4L87fUQlTwMg" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_youtube.png" alt="youtube">
              </a>
            </li>
            <li class="p-header-icon-item">
              <a href="https://note.com/happyelements/" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_note.png" alt="note">
              </a>
            </li>
            <li class="p-header-icon-item">
              <a href="https://twitter.com/HappyElementsRC" class="p-header-icon-link" target="_blank" rel="noopener noreferrer">
                <img src="<%= path %>assets/images/header/icon_header_twitter.png" alt="twitter">
              </a>
            </li>
          </ul>
        </div>
        <!-- /.p-header-nav-wrapper -->
      </nav>
    </div>
    <!-- /.p-header-nav -->
  </div>
  <!-- /.p-header-inner -->
</header>
