<% var info={ title : "社員インタビュー＃6｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。チーフプランナーとして活躍中の社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="p-interview-wrap-MT c-interview-wrap"></div>
    <div class="p-interview-wrap-MT02 c-interview-wrap" data-bg="01"></div>
    <div class="p-interview-wrap-MT02 c-interview-wrap" data-bg="02"></div>
    <div class="p-interview-wrap-MT03 c-interview-wrap" data-bg="03"></div>
    <div class="l-wrap p-interview-wrap-MT03 c-interview-wrap" data-bg="04">
      <!-- 閉じタグは_footer-.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <main>
            <button class="c-toUpBtn js-toUpBtn u-zindex_10">
            </button>
            <header class="p-interview-header u-sp-show">
              <div class="p-interview-header-inner">
                <h2 class="p-interview-header-title u-interview-title-pink"><span>06.</span>ILLUSTRATOR</h2>
                <div class="p-interview-header-desc">
                  <span class="p-interview-header-desc-name">NAME : M.T</span>
                  <span class="p-interview-header-desc-career">2020年入社／新卒入社</span>
                  <span class="p-interview-header-desc-position">ラストピリオド<br>イラストレーター</span>
                </div>
                <!-- /.p-interview-header-desc -->
                <h3 class="p-interview-header-copy">
                  <span class="js-underLine-interviewTop">苦手なタッチへの挑戦が</span><br>
                  <span class="js-underLine-interviewTop02">ユーザーのフェチ心に届き、</span><br>
                  <span class="js-underLine-interviewTop03">わたしの武器を増やした。</span>
                </h3>
              </div>
              <!-- /.p-interview-header-inner -->
            </header>
            <!-- <main class="l-main p-interview-main"> -->
            <header class="p-interview-pageHeader c-pageHeader">
              <h2 class="c-pageHeader-title">
                <span class="c-pageHeader-title-eng">INTERVIEW_06</span>
                <span class="c-pageHeader-title-jp">社員インタビュー</span>
              </h2>
            </header>
            <section class="p-interview">
              <header class="p-interview-header u-tb-none">
                <div class="p-interview-header-inner">
                  <h2 class="p-interview-header-title u-interview-title-pink"><span>06.</span>ILLUSTRATOR</h2>
                  <div class="p-interview-header-desc">
                    <span class="p-interview-header-desc-name">NAME : M.T</span>
                    <span class="p-interview-header-desc-career">2020年 新卒入社</span>
                    <span class="p-interview-header-desc-position">ラストピリオド<br>イラストレーター</span>
                  </div>
                  <!-- /.p-interview-header-desc -->
                  <h3 class="p-interview-header-copy">
                    <span class="js-underLine-interviewTop">苦手なタッチへの挑戦が</span><br>
                    <span class="js-underLine-interviewTop02">ユーザーのフェチ心に届き、</span><br>
                    <span class="js-underLine-interviewTop03">わたしの武器を増やした。</span>
                  </h3>
                </div>
                <!-- /.p-interview-header-inner -->
              </header>
              <div class="p-interview-inner">
                <ul class="p-interview-list">
                  <li class="p-interview-item">
                    <h4 class="p-interview-item-title"><span>入社まで</span>古い常識にとらわれることなく成長できそう。</h4>
                    <p class="p-interview-item-text">子どもの頃から、自由帳に絵を描くのが好きでした。小学生になると自分の絵をブログにアップするようになりました。良いね、と褒めてもらうと、すごくうれしかった。SNSでイラストレーターさんと交流するうちに、自分もイラストレーターの世界へ行きたいと思うようになりました。ちょうど高校時代にスマホゲームが流行っていて、カードゲームのキャラクターを描いてみたいなあ、と。大学は漫画学部で、キャラクターデザインを専攻。大学2年生の時、Happy Elements株式会社で働いていた先輩から声をかけてもらって、イラストレーターのアルバイトをはじめました。そのまま2020年4月に新卒として入社しましたが、他にもゲーム業界を中心に就職活動はしていました。<span class="js-underLine-interviewText-pink">当社に入社を決めたのは、働いている人たちがちゃんとユーザー需要を把握していて、世間の流行に敏感なものづくりをしていたから。</span>当社なら、今の時代を追いながら自分も成長できる。そう感じました。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="01">
                    <h4 class="p-interview-item-title"><span>現在の仕事</span>キャラクターの魅力を読み解き、イラストへ。</h4>
                    <p class="p-interview-item-text">アルバイト時代から入社後しばらくは、自社の広報キャラクターの衣装別立ち絵とキービジュアルの作成や、新規事業の立ち上げにイラストレーターとして参加しました。そして2021年に、自分から手を挙げて『ラストピリオド（以下ラスピリ）』に参加。ユニットイラストやスチルを描くのが主な仕事です。特に担当するキャラクターが決まっているわけではなく、マネジメント担当から割り振られたキャラクターを制作していきます。まずはストーリーを読んで、<span class="js-underLine-interviewText-pink">キャラクターの魅力やバックグラウンド特徴を理解。自分なりに表情や衣装、動きなどを考えながら描くクリエイティブな部分が、この仕事のおもしろさですね。</span>私は『ラスピリ』のイラストレーターとしてはキャリアが浅いので、自分が担当することになったキャラについて、ユーザーさんがどんな所を好いているのかといった調査をSNSで行い、自分の考えたものをあわせながら描いたりしています。難しい点は、以前に他のイラストレーターが担当したキャラクターを引き継ぐこともあり、なるべく似せなければならないところ。少しでも違和感があると、ユーザーさんはすぐに気がつきますから。もちろん要所要所で、リードイラストレーターに確認してもらいながら進めていきます。成長するにつれて、だんだんレアリティの高いキャラクターを描くようになります。そこは実力の世界ですね。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="02">
                    <div class="p-interview-item-header">
                      <img class="p-interview-item-header-logo" src="<%= path %>interview/interveiw_logo_only.png" alt="ここがHappy Elements株式会社らしさ！">
                      <p class="p-interview-item-header-text">ここが<br class="u-tb-none">Happy Elements株式会社らしさ！</p>
                    </div>
                    <h4 class="p-interview-item-centerTitle">内部制作へのこだわりが強い。</h4>
                    <p class="p-interview-item-text">世の中のゲーム会社って、イラストを外注する会社も多いじゃないですか。当社は内部制作がメイン。<span class="js-underLine-interviewText-pink">内部だからこそ意見交換もしやすいし、一人ひとりのこだわりを共有しやすい。</span>その熱量が直接ユーザーさんへ届けられるので、刺さりやすいんじゃないかな。また社員が若くて流行に敏感だから、ユーザーさんに近い感覚でものづくりができることも強みだと思います。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="03">
                    <h4 class="p-interview-item-title"><span>思い出に残る仕事</span>「色気があって良い！」<br>「よっしゃー、やったぞー！」。</h4>
                    <p class="p-interview-item-text">『ラスピリ』は男性ファンが多いこともあり、出てくる女の子は、胸や太ももなどにフェチを詰めた方が喜ばれるんです。私がまだ『ラスピリ』に参加したばかりの頃、まったくそういうものが描けなくて、マネージャーからも「あなたは、肉感表現やフェチに対する理解をもっと頑張ってね」と言われていました。内心は、そんな絵を描ける気がしない(笑）。でも描けないとユーザーさんに良いものをお届けできない。<span class="js-underLine-interviewText-pink">そこでプロフェッショナルとして、その筋で人気のある受けの良いイラストレーターさんの作品を調べてみたり、『ラスピリ』らしい表現の仕方を猛勉強。</span>なんとか取り入れて、私なりに好きなフェチを取り入れながら描いてみました。するとユーザーさんから「すごく色気があって良い！」といった反応が続出。「よっしゃー、やったぞー！」って（笑）。イラストレーターとしての武器をひとつ増やすことができました。何といっても、ユーザーさんにこういうのが刺されば良いなと思って描いているので、それが届いたときは最高にうれしい。次も頑張ろうって気持ちになりますね。</p>
                    <!-- /.p-interview-item-img -->
                  </li>
                  <li class="p-interview-item" data-trigger="04">
                    <h4 class="p-interview-item-title"><span>今後の夢</span>絵作りをする人として、もっと成長したい。</h4>
                    <p class="p-interview-item-text">イラストレーターとして成長したいという想いはずっとあります。『ラスピリ』は入社前から絵がとても魅力的で、立体表現とか重厚感が素敵だなと思っていました。でも自分では技術的に描けないだろうな、と。だからこそ、当社に在籍しているなら、描けるだけの技術を身につけたい。そう思って『ラスピリ』に自分で手を挙げて参加させてもらいました。まだまだこれからですが、現状に満足せず新しい挑戦を続けていきたい。イラストレーターの使用するツールもどんどん進化しているし、絵柄の流行も変わってきています。3Dなどの新しい技術も取り入れることも必要かもしれません。今はキャラクターを描くことがメインですが、背景の描きかたやデザインも学んでいきたい。<span class="js-underLine-interviewText-pink">当社で得られるものは、すべて得る。</span>そういう気持ちを忘れず、イラストレーターの根っこを磨いていきたいと思います。</p>
                  </li>
                </ul>
                <!-- /.p-interview-content -->
              </div>
              <!-- /.p-interview-inner -->
            </section>
            <section class="p-nextPrev u-zindex_1">
              <div class="p-nextPrev-inner">
                <div class="p-nextPrev-wrapper">
                  <div class="p-nextPrev-next">
                    <a href="../07/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-next-num">07.</span>
                        <span class="p-nextPrev-next-job">ENGINEER</span>
                        <p class="p-nextPrev-next-copy">
                          <span>コンテンツファーストでの</span><br>
                          <span>ゲーム作りに取り組む。</span><br>
                        </p>
                        <span class="p-nextPrev-next-name">NAME : K.K</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-blue"></div>
                        <img src="<%= path %>interview/top/interview_index07.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-next -->
                  <div class="p-nextPrev-prev">
                    <a href="../05/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-prev-num">05.</span>
                        <span class="p-nextPrev-prev-job">DESIGNER</span>
                        <p class="p-nextPrev-prev-copy"><span>誰かを感動させたい、</span><br>
                          <span>という想いがないと</span><br class="u-tb-none"><span>自社開発はできない。</span>
                        </p>
                        <span class="p-nextPrev-prev-name">NAME : S.T</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-pink"></div>
                        <img src="<%= path %>interview/top/interview_index05.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-prev -->
                </div>
                <!-- /.p-nextPrev-wrapper -->
                <div class="c-returnBtn">
                  <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                  <p class="c-returnBtn-text">INDEX</p>
                </div>
              </div>
              <!-- /.p-nextPrev-inner -->
            </section>
          </main>
          <footer class="l-footer p-footer">
            <div class="p-footer-inner">
              <ul class="p-footer-nav">
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
                </li>
              </ul>
              <small class="p-footer__copy">&copy; Happy Elements K.K</small>
            </div>
            <!-- /.l-footer__inner -->
          </footer>
    </div><!-- l-wrap -->
    </body>
    <script src="../../assets/js/bundle.js"></script>

    </html>
