<% const info={ title : "カルチャー｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。私たちのカルチャーについてご紹介します。" , css: "../" }; %>
  <%- include("../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../assets/images/"]%>
        <%- include("../include/_header", {path: '../' }) -%>
          <%- include("../include/_threecanvas", {path: '../' }) -%>
            <main class="l-main">
              <section class="p-indexHeader">
                <div class="p-indexHeader-inner">
                  <div class="p-indexHeader-title">
                    <h2 class="p-indexHeader-title-main">
                      <ul class="p-indexHeader-title-fonts js-title">
                        <li class="p-indexHeader-title-font js-title-font">C</li>
                        <li class="p-indexHeader-title-font js-title-font">U</li>
                        <li class="p-indexHeader-title-font js-title-font">L</li>
                        <li class="p-indexHeader-title-font js-title-font">T</li>
                        <li class="p-indexHeader-title-font js-title-font">U</li>
                        <li class="p-indexHeader-title-font js-title-font">R</li>
                        <li class="p-indexHeader-title-font js-title-font">E</li>
                      </ul>
                    </h2>
                    <h3 class="p-indexHeader-title-sub">Happy Elements株式会社の企業文化</h3>
                  </div>
                  <!-- /.p-indexHeader-title -->
                  <div class="p-indexHeader-content">
                    <p class="p-indexHeader-content-text">ユーザー ファーストのための、クリエイター ファーストな組織を目指すHappy Elements株式会社。そのカルチャーは、オフィスデザインや制度など、さまざまなところに表れています。</p>
                  </div>
                  <!-- /.p-indexHeader-content -->
                </div>
                <!-- /.p-indexHeader-inner -->
              </section>
              <section class="p-cultureIndex">
                <div class="p-cultureIndex-inner">
                  <ul class="p-cultureIndex-list">
                    <li class="p-cultureIndex-item js-content-show">
                      <a href="./character/" class="p-cultureIndex-item-link">
                        <figure class="p-cultureIndex-item-img">
                          <img class="u-sp-show" src="<%= path %>culture/culture_character_pc.jpg" alt="HappyElementsのカルチャー">
                          <img class="u-sp-none" src="<%= path %>culture/culture_character_sp.jpg" alt="HappyElementsのカルチャー">
                        </figure>
                        <h3 class="p-cultureIndex-item-title"><span>01.</span><span>Happy Elements<br>株式会社のカルチャー</span></h3>
                      </a>
                    </li>
                    <li class="p-cultureIndex-item js-content-show02">
                      <a href="./officetour/" class="p-cultureIndex-item-link">
                        <figure class="p-cultureIndex-item-img">
                          <img class="u-sp-show" src="<%= path %>culture/culture_officetour_pc.jpg" alt="オフィスツアー">
                          <img class="u-sp-none" src="<%= path %>culture/culture_officetour_sp.jpg" alt="オフィスツアー">
                        </figure>
                        <h3 class="p-cultureIndex-item-title"><span>02.</span><span>オフィスツアー</span></h3>
                      </a>
                    </li>
                    <li class="p-cultureIndex-item js-content-show03">
                      <a href="./data" class="p-cultureIndex-item-link">
                        <figure class="p-cultureIndex-item-img">
                          <img class="u-sp-show" src="<%= path %>culture/culture_data_pc.jpg" alt="データで見るHappyElements">
                          <img class="u-sp-none" src="<%= path %>culture/culture_data_sp.jpg" alt="データで見るHappyElements">
                        </figure>
                        <h3 class="p-cultureIndex-item-title"><span>03.</span><span>データで見る<br>Happy Elements株式会社</span></h3>
                      </a>
                    </li>
                    <li class="p-cultureIndex-item js-content-show04">
                      <a href="./benefit/" class="p-cultureIndex-item-link">
                        <figure class="p-cultureIndex-item-img">
                          <img class="u-sp-show" src="<%= path %>culture/culture_benefit_pc.jpg" alt="福利厚生/制度">
                          <img class="u-sp-none" src="<%= path %>culture/culture_benefit_sp.jpg" alt="福利厚生/制度">
                        </figure>
                        <h3 class="p-cultureIndex-item-title"><span>04.</span><span>福利厚生/制度</span></h3>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- /.p-cultureIndex-inner -->
              </section>
            </main>
            <%- include("../include/_footer", {js: "../" }) -%>
