<% const info={ title : "人事からのメッセージ｜採用情報｜Happy Elements株式会社" , desc
  : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。人材に期待することや採用活動にかける想いについてお伝えします。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <%- include("../../include/_threecanvas", {path: '../../' }) -%>
            <main class="l-main">
              <section class="p-indexHeaderJp">
                <div class="p-indexHeaderJp-inner">
                  <div class="p-indexHeaderJp-title">
                    <div class="p-indexHeaderJp-title-sub">
                      <p class="p-indexHeaderJp-title-en">RECRUIT</p>
                      <p class="p-indexHeaderJp-title-ja">採用情報</p>
                    </div>
                    <h2 class="p-sectionHeader-title-main pc">
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">人</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">事</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">か</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ら</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">の</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">メ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ッ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">セ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ー</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ジ</li>
                      </ul>
                    </h2>
                    <h2 class="p-sectionHeader-title-main sp">
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">人</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">事</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">か</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ら</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">の</li>
                      </ul>
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">メ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ッ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">セ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ー</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ジ</li>
                      </ul>
                    </h2>
                  </div>
                  <!-- /.p-indexHeaderJp-title -->
                </div>
                <!-- /.p-indexHeaderJp-inner -->
              </section>
              <section class="p-cultureLead">
                <h3 class="p-cultureLead-title">クリエイター・ファーストな環境で、<br>ユーザーの喜びを。</h3>
                <p class="p-cultureLead-txt">Happy Elements株式会社は「熱狂的に愛されるコンテンツをつくる」というビジョンを掲げ、万人に受け入れられなくても、好きな人には熱狂的に愛されるようなコンテンツをつくり、提供し続けることを目指しています。そのビジョンを実現するために、私たち人事部では、クリエイターのみなさんがゲームづくりに100％の力を注げるクリエイター・ファーストな環境づくりに取り組んでいます。</p>
                <p class="p-cultureLead-txt">
                  けれども、うまくいっていることもあれば、課題もあるのが正直なところ。特に、ここ数年で会社の規模が急激に大きくなり、以前のように一人ひとりが自由自在に動いても、自然と足並みが揃うということも難しくなってきています。ばらばらでは、熱狂的に愛されるコンテンツはつくれません。だからといって、組織でクリエイターを縛るようなことはしたくない。
                </p>
                <p class="p-cultureLead-txt">これからも当社らしく組織が成長していくためには、開発現場にとがった技術を持った人はもちろん、みんなの意見や気持ちをまとめることが得意な人、若手の育成や教育に興味がある人、会社づくりそのものに興味がある人など、いろいろなタイプのクリエイターが必要になると考えています。だからと言って、いきなり「会社の課題を解決してください」とは言いませんのでご安心を（笑）。まずはクリエイターとしてゲームづくりに情熱を注いで、その豊かな才能をユーザーの喜びのために発揮してください。そして少しずつ周囲の信頼を得て、クリエイティブ以外の面でも、良い影響をまわりに与えてくれる存在になってくれたら頼もしい限りです。
                </p>
                <p class="p-cultureLead-txt">面接では、こうした課題感も踏まえて、当社のゲームづくりに対する理念やビジョンについてきちんとお話します。ぜひ、あなたのゲームづくりにかける想いや、キャリアプランについてお聞かせください。その上で、あなたとHappy Elementsの想いが同じ未来を向いているのなら、ぜひ一緒にその未来を描いていきましょう。</p>
                <p class="p-cultureLead-btm js-content-show">採用グループ一同</p>
              </section>


              <div class="p-cultureRecAnime">
                <div class="p-bgTxt col-03 js-content-show">IDEAL <br>CANDIDATE <br>PROFILE</div>
                <h3 class="p-cultureRecAnime-title">
                  <img src="<%= path %>recruit/message/anime_ttl.svg" alt="">
                </h3>
                <!-- <div class="test">
                  <img src="<%= path %>_dummy.png" alt="">
                </div> -->
                <div class="p-cultureRecAnime-lead js-content-show">当社では、「熱狂的に愛されるコンテンツをつくる」というビジョンを実現するために、大切にしている5つの行動・考え方があります。</div>
                <div class="p-cultureRecAnime-main js-anime">
                  <div class="p-cultureRecAnime-main-txtwrap">
                    <div class="p-cultureRecAnime-main-txt">
                      <em class="p-cultureRecAnime-main-txt-title--creat">クリエイティビティ</em>
                      <p class="p-cultureRecAnime-main-txt-desc">熱意をもって､細部までこだわってものづくりをする。</p>
                      <p class="p-cultureRecAnime-main-txt-desc">他の人のこだわりを尊重し助ける。</p>
                    </div>
                    <div class="p-cultureRecAnime-main-txt">
                      <em class="p-cultureRecAnime-main-txt-title--pro">プロフェッショナリズム</em>
                      <p class="p-cultureRecAnime-main-txt-desc">各人が良いゲームをつくるために､主体性や責任感をもって仕事に取り組む。</p>
                    </div>
                    <div class="p-cultureRecAnime-main-txt">
                      <em class="p-cultureRecAnime-main-txt-title--team">チームワーク</em>
                      <p class="p-cultureRecAnime-main-txt-desc">チームや会社の目標を意識し､達成に向けた行動を取る｡</p>
                      <p class="p-cultureRecAnime-main-txt-desc">周りの人を尊敬し感謝する気持ちを積極的に表す。</p>
                      <p class="p-cultureRecAnime-main-txt-desc">多様な考え方を尊重する。</p>
                    </div>
                    <div class="p-cultureRecAnime-main-txt">
                      <em class="p-cultureRecAnime-main-txt-title--since">誠実さ</em>
                      <p class="p-cultureRecAnime-main-txt-desc">約束やルールを守り､他人より信頼される行動を取る。</p>
                      <p class="p-cultureRecAnime-main-txt-desc">自己管理を徹底し､任された仕事について最大限の成果を残す努力をする。</p>
                    </div>
                    <div class="p-cultureRecAnime-main-txt">
                      <em class="p-cultureRecAnime-main-txt-title--growth">自己成長</em>
                      <p class="p-cultureRecAnime-main-txt-desc">常に成長することを意識する。</p>
                    </div>
                  </div>
                  <div class="p-cultureRecAnime-main-anime">
                    <div class="p-recruitAnime">
                      <ul class="p-recruitAnime-iconwrap">
                        <li>
                          <img src="<%= path %>recruit/message/txt_01_pc.png" class="pc" alt="">
                          <img src="<%= path %>recruit/message/txt_01_sp.png" class="sp" alt="">
                        </li>
                        <li>
                          <img src="<%= path %>recruit/message/txt_02_pc.png" class="pc" alt="">
                          <img src="<%= path %>recruit/message/txt_02_sp.png" class="sp" alt="">
                        </li>
                        <li>
                          <img src="<%= path %>recruit/message/txt_03_pc.png" class="pc" alt="">
                          <img src="<%= path %>recruit/message/txt_03_sp.png" class="sp" alt="">
                        </li>
                        <li>
                          <img src="<%= path %>recruit/message/txt_04_pc.png" class="pc" alt="">
                          <img src="<%= path %>recruit/message/txt_04_sp.png" class="sp" alt="">
                        </li>
                        <li>
                          <img src="<%= path %>recruit/message/txt_05_pc.png" class="pc" alt="">
                          <img src="<%= path %>recruit/message/txt_05_sp.png" class="sp" alt="">
                        </li>
                      </ul>
                      <div class="p-recruitAnime-center">
                        <img src="<%= path %>recruit/message/txt_center_pc.png" class="pc" alt="">
                        <img src="<%= path %>recruit/message/txt_center_sp.png" class="sp" alt="">
                      </div>
                      <div class="p-recruitAnime-bg">

                        <!-- <svg width="342px" height="342px" class="pc">
                          <defs>
                            <clipPath id="circle">
                              <circle cx="171" cy="171" r="169" stroke="#fff"/>
                            </clipPath>
                          </defs>
                          <rect x="0" y="0" width="100%" height="100%" mask="(#circle)" />



                          <linearGradient id="myGradient"  gradientTransform="rotate(0)" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#77e3d6"/>
                            <stop offset="0.045" stop-color="#83dec5"/>
                            <stop offset="0.207" stop-color="#d0e66a"/>
                            <stop offset="0.247" stop-color="#ffe073"/>
                            <stop offset="0.4" stop-color="#fdb219"/>
                            <stop offset="0.437" stop-color="#eea358"/>
                            <stop offset="0.601" stop-color="#fe769b"/>
                            <stop offset="0.639" stop-color="#e570b2"/>
                            <stop offset="0.811" stop-color="#6d9eea"/>
                            <stop offset="0.851" stop-color="#51b2f0"/>
                            <stop offset="1" stop-color="#0d5c80"/>
                          </linearGradient>
                          <circle cx="171" cy="171" r="169" stroke="url('#myGradient')"  />
                      </svg> -->

                      <img src="<%= path %>recruit/message/round_pc.png" alt="" class="pc">
                      <img src="<%= path %>recruit/message/round_sp.png" alt="" class="sp">

                        <!-- <svg width="342px" height="342px" class="pc">
                          <linearGradient id="myGradient" gradientTransform="rotate(0)"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#77e3d6" />
                            <stop offset="0.045" stop-color="#83dec5" />
                            <stop offset="0.207" stop-color="#d0e66a" />
                            <stop offset="0.247" stop-color="#ffe073" />
                            <stop offset="0.4" stop-color="#fdb219" />
                            <stop offset="0.437" stop-color="#eea358" />
                            <stop offset="0.601" stop-color="#fe769b" />
                            <stop offset="0.639" stop-color="#e570b2" />
                            <stop offset="0.811" stop-color="#6d9eea" />
                            <stop offset="0.851" stop-color="#51b2f0" />
                            <stop offset="1" stop-color="#0d5c80" />
                          </linearGradient>
                          <circle cx="171" cy="171" r="169" stroke="url('#myGradient')" />
                        </svg> -->
                        <!-- <svg width="224px" height="224px" class="sp">
                          <linearGradient id="myGradient02" gradientTransform="rotate(0)">
                            <stop offset="0" stop-color="#77e3d6" />
                            <stop offset="0.045" stop-color="#83dec5" />
                            <stop offset="0.207" stop-color="#d0e66a" />
                            <stop offset="0.247" stop-color="#ffe073" />
                            <stop offset="0.4" stop-color="#fdb219" />
                            <stop offset="0.437" stop-color="#eea358" />
                            <stop offset="0.601" stop-color="#fe769b" />
                            <stop offset="0.639" stop-color="#e570b2" />
                            <stop offset="0.811" stop-color="#6d9eea" />
                            <stop offset="0.851" stop-color="#51b2f0" />
                            <stop offset="1" stop-color="#0d5c80" />
                          </linearGradient>
                          <circle cx="112" cy="112" r="109" stroke="url('#myGradient02')" />
                        </svg> -->
                        <!--
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="342.49" height="342.49" viewBox="0 0 342.49 342.49">
                      <defs>
                        <radialGradient id="radial-gradient" cx="0.5" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
                          <stop offset="0" stop-color="#77e3d6"/>
                          <stop offset="0.045" stop-color="#83dec5"/>
                          <stop offset="0.207" stop-color="#d0e66a"/>
                          <stop offset="0.247" stop-color="#ffe073"/>
                          <stop offset="0.4" stop-color="#fdb219"/>
                          <stop offset="0.437" stop-color="#eea358"/>
                          <stop offset="0.601" stop-color="#fe769b"/>
                          <stop offset="0.639" stop-color="#e570b2"/>
                          <stop offset="0.811" stop-color="#6d9eea"/>
                          <stop offset="0.851" stop-color="#51b2f0"/>
                          <stop offset="1" stop-color="#0d5c80"/>
                        </radialGradient>
                      </defs>
                      <path id="パス_8835" data-name="パス 8835" d="M171.245,4.268A168.232,168.232,0,0,0,137.589,7.66a166.038,166.038,0,0,0-59.7,25.122,167.477,167.477,0,0,0-60.5,73.469A166.1,166.1,0,0,0,7.66,137.589a168.646,168.646,0,0,0,0,67.312,166.038,166.038,0,0,0,25.122,59.7,167.477,167.477,0,0,0,73.469,60.5,166.1,166.1,0,0,0,31.337,9.728,168.646,168.646,0,0,0,67.312,0,166.038,166.038,0,0,0,59.7-25.122,167.478,167.478,0,0,0,60.5-73.469,166.1,166.1,0,0,0,9.728-31.337,168.646,168.646,0,0,0,0-67.312,166.038,166.038,0,0,0-25.122-59.7,167.477,167.477,0,0,0-73.469-60.5A166.1,166.1,0,0,0,204.9,7.66a168.232,168.232,0,0,0-33.656-3.392m0-4.268A171.245,171.245,0,1,1,0,171.245,171.245,171.245,0,0,1,171.245,0Z" fill="url(#radial-gradient)"/>
                    </svg>
                     -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
            <%- include("../../include/_footer", {js: "../../" }) -%>
