<% var info={ title : "社員インタビュー＃7｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。チーフプランナーとして活躍中の社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="p-interview-wrap-KK c-interview-wrap"></div>
    <div class="p-interview-wrap-KK02 c-interview-wrap" data-bg="01"></div>
    <div class="p-interview-wrap-KK02 c-interview-wrap" data-bg="02"></div>
    <div class="p-interview-wrap-KK03 c-interview-wrap" data-bg="03"></div>
    <div class="l-wrap p-interview-wrap-KK03 c-interview-wrap" data-bg="04">
      <!-- 閉じタグは_footer-.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <main>
            <button class="c-toUpBtn js-toUpBtn u-zindex_10">
            </button>
            <header class="p-interview-header u-sp-show">
              <div class="p-interview-header-inner">
                <h2 class="p-interview-header-title u-interview-title-blue"><span>07.</span>ENGINEER</h2>
                <div class="p-interview-header-desc">
                  <span class="p-interview-header-desc-name">NAME : K.K</span>
                  <span class="p-interview-header-desc-career"></span>
                  <span class="p-interview-header-desc-position">あんさんぶるスターズ！！<br>チーフエンジニア</span>
                </div>
                <!-- /.p-interview-header-desc -->
                <h3 class="p-interview-header-copy">
                  <span class="js-underLine-interviewTop">コンテンツファーストでの</span><br>
                  <span class="js-underLine-interviewTop02">ゲームつくりに取り組む。</span>
                </h3>
              </div>
              <!-- /.p-interview-header-inner -->
            </header>
            <!-- <main class="l-main p-interview-main"> -->
            <header class="p-interview-pageHeader c-pageHeader">
              <h2 class="c-pageHeader-title">
                <span class="c-pageHeader-title-eng">INTERVIEW_07</span>
                <span class="c-pageHeader-title-jp">社員インタビュー</span>
              </h2>
            </header>
            <section class="p-interview">
              <header class="p-interview-header u-tb-none">
                <div class="p-interview-header-inner">
                  <h2 class="p-interview-header-title u-interview-title-blue"><span>07.</span>ENGINEER</h2>
                  <div class="p-interview-header-desc">
                    <span class="p-interview-header-desc-name">NAME : K.K</span>
                    <span class="p-interview-header-desc-career"></span>
                    <span class="p-interview-header-desc-position">あんさんぶるスターズ！！<br>チーフエンジニア</span>
                  </div>
                  <!-- /.p-interview-header-desc -->
                  <h3 class="p-interview-header-copy">
                    <span class="js-underLine-interviewTop">コンテンツファーストでの</span><br>
                    <span class="js-underLine-interviewTop02">ゲームつくりに取り組む。</span>
                  </h3>
                </div>
                <!-- /.p-interview-header-inner -->
              </header>
              <div class="p-interview-inner">
                <ul class="p-interview-list">
                  <li class="p-interview-item">
                    <h4 class="p-interview-item-title"><span>入社まで</span>『はじめようポケット・バー』の開発をきっかけに、Happy Elements株式会社へ。</h4>
                    <p class="p-interview-item-text"> 新卒入社した会社から京都にあったベンチャー企業A社に転職して、代表の新井とはそこで知り合いました。ところがA社が株式上場を機に京都事務所を引き払うことになり、京都に残りたかった私は退職して、新卒時の先輩と一緒に会社を立ち上げました。でも<span class="js-underLine-interviewText-blue">実際に会社を経営してみると、自分には向いていない、別の方向で頑張った方が良いのかもしれないと感じることが多かったように思います。そんなとき、新井がA社を退職して京都で会社を立ち上げるという話があり、いろいろ考えた末、私もその会社に入社することにしました。</span>この会社は2009年にちょうどソーシャルゲームが流行り始めていた頃で、私たちはとある会社のPC用人気ソーシャルゲーム『はじめようマイ・バー』のモバイル版の開発を担当することになりました。そして、そのときつくったゲーム『はじめようポケット・バー』がそれなりにうまくいき、その会社の日本法人に事業買収という形で合流することになります。その日本法人が現在の会社、Happy Elements株式会社です。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="01">
                    <h4 class="p-interview-item-title"><span>現在の仕事</span>コンテンツファーストなマネジメント。</h4>
                    <p class="p-interview-item-text">当社では「熱狂的に愛されるコンテンツをつくる」というビジョンを掲げており、『あんさんぶるスターズ！！（以下あんスタ！！）』においてもコンテンツファーストな開発・運営を大切にしています。私自身もメンバーをマネジメントする際は、<span class="js-underLine-interviewText-blue">ユーザー視点やクリエイター視点に偏りすぎることなく、『あんスタ！！』らしい施策となるかを意識するようにしています。</span><br>また、当社のエンジニアチームでは、「エンジニアの力でゲームの競争力をつくる」ということを目標としています。こう書くと他社にはまねできないプログラムを書くという風に受け取られる場合もあるのですが、実際は他職種を支援することでゲーム全体の競争力創出に貢献するという場合も多く、こういう考え方もコンテンツファーストという点で一貫しているように思っています。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="02">
                    <div class="p-interview-item-header">
                      <img class="p-interview-item-header-logo" src="<%= path %>interview/interveiw_logo_only.png" alt="ここがHappy Elements株式会社らしさ！">
                      <p class="p-interview-item-header-text">ここが<br class="u-tb-none">Happy Elements株式会社らしさ！</p>
                    </div>
                    <h4 class="p-interview-item-centerTitle">一芸に秀でたクリエイターが多い。</h4>
                    <p class="p-interview-item-text">“らしさ”というと、<span class="js-underLine-interviewText-blue">一芸に秀でたクリエイターが多い</span>ように思っています。その中でも、イラストレーターが多く所属していることはゲーム会社としては少し珍しいのではないかと思っています。<br>会社としての特徴は、デベロッパーでありパブリッシャーでもあること、自社でIPコンテンツをつくっていることで、自社所属のイラストレーターはそのための競争力の源泉の一つとなっています。<br>自社でIPコンテンツからつくるということは、本当の意味で0からのゲームつくりをするということですので、大変なことも多いのですが大きなやりがいも感じることができます。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="03">
                    <h4 class="p-interview-item-title"><span>思い出に残る仕事</span>ユーザーの反響をリアルに感じられた大型アップデートイベント。</h4>
                    <p class="p-interview-item-text">選ぶのは難しいのですが、あえてあげるとすると2020年1月に実施したリアルイベント『あんさんぶるスターズ！！大発表会 ～BRAND NEW STARS!!～』です。<br>こちらは『あんスタ！！』の大型アップデートのリリース日を発表するイベントで、私も現地で立ち会いました。それまで時間をかけて準備してきたことを発表したのですが、まだ新型コロナウイルスが流行る前だったこともあり、大きな歓声で反響をいただけたことがうれしかったのを覚えています。<br>当社は売上目標などに厳しい社風ではないため、<span class="js-underLine-interviewText-blue">多くのスタッフが目指していることは良いコンテンツをつくって提供することだと思います。そして、その反響を一番リアルに感じられるのは、リアルイベントの歓声だったりするように思っています。</span><br>ちなみに、『あんスタ！！』のリリースについては、リリース前も後も大変過ぎてあまり思い出には残っていません（笑）。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="04">
                    <h4 class="p-interview-item-title"><span>今後の夢</span>熱狂的に愛されるコンテンツをつくり続けられる会社へ。</h4>
                    <p class="p-interview-item-text">以前のwebベースのゲームと比較して、<span class="js-underLine-interviewText-blue">スマートフォンのネイティブゲームは開発難易度が上がり、開発に非常に時間がかかるようになりました。そんな中でも定期的に新しいゲームをリリースできるような地力をつけていきたい</span>と思っています。<br>「熱狂的に愛されるコンテンツをつくる」は既存ゲームの継続的なブラッシュアップ・クオリティアップも含んでいると理解していますので、新規ゲームも既存ゲームも含めて熱狂的に愛されるコンテンツをつくり続けられる会社となるように取り組んでいきたいです。</p>
                  </li>
                </ul>
                <!-- /.p-interview-content -->
              </div>
              <!-- /.p-interview-inner -->
            </section>
            <section class="p-nextPrev u-zindex_1">
              <div class="p-nextPrev-inner">
                <div class="p-nextPrev-wrapper">
                  <div class="p-nextPrev-next">
                    <a href="../01/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-next-num">01.</span>
                        <span class="p-nextPrev-next-job">PLANNER</span>
                        <p class="p-nextPrev-next-copy u-tb-none">
                          <span>ゲームにイベントに。</span><br>
                          <span>自分達の世界観で、</span><br>
                          <span>ユーザーを沸かせたい。</span>
                        </p>
                        <p class="p-nextPrev-next-copy u-tb-show">
                          <span>ゲームにイベントに。</span><br>
                          <span>自分達の世界観で、ユーザーを沸かせたい。</span>
                        </p>
                        <span class="p-nextPrev-next-name">NAME : Y.U</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-green"></div>
                        <img src="<%= path %>interview/top/interview_index01.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-next -->
                  <div class="p-nextPrev-prev">
                    <a href="../06/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-prev-num">06.</span>
                        <span class="p-nextPrev-prev-job">ILLUSTRATOR</span>
                        <p class="p-nextPrev-prev-copy"><span>苦手なタッチへの挑戦が</span><br><span>ユーザーのフェチ心に届き、</span><br class="u-tb-none"><span>わたしの武器を増やした。</span></p>
                        <span class="p-nextPrev-prev-name">NAME : M.T</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-pink"></div>
                        <img src="<%= path %>interview/top/interview_index06.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-prev -->
                </div>
                <!-- /.p-nextPrev-wrapper -->
                <div class="c-returnBtn">
                  <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                  <p class="c-returnBtn-text">INDEX</p>
                </div>
              </div>
              <!-- /.p-nextPrev-inner -->
            </section>
          </main>
          <footer class="l-footer p-footer">
            <div class="p-footer-inner">
              <ul class="p-footer-nav">
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
                </li>
              </ul>
              <small class="p-footer__copy">&copy; Happy Elements K.K</small>
            </div>
            <!-- /.l-footer__inner -->
          </footer>
    </div><!-- l-wrap -->
    </body>
    <script src="../../assets/js/bundle.js"></script>
    <!--  -->

    </html>
