<% const info={ title : "Happy Elements株式会社について｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。私たちのMission・VISION・VALUEについてご紹介します。" , css: "../" }; %>
  <%- include("../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../assets/images/"]%>
        <%- include("../include/_header", {path: '../' }) -%>
            <main class="l-main">
              <section class="p-indexHeader">
                <div class="p-indexHeader-inner">
                  <div class="p-indexHeader-title">
                    <h2 class="p-indexHeader-title-main">
                      <ul class="p-indexHeader-title-fonts js-title">
                        <li class="p-indexHeader-title-font js-title-font">A</li>
                        <li class="p-indexHeader-title-font js-title-font">B</li>
                        <li class="p-indexHeader-title-font js-title-font">O</li>
                        <li class="p-indexHeader-title-font js-title-font">U</li>
                        <li class="p-indexHeader-title-font js-title-font">T</li>
                      </ul>
                    </h2>
                    <h3 class="p-indexHeader-title-sub">Happy Elements株式会社について</h3>
                  </div>
                </div>
                <!-- /.p-indexHeader-inner -->
              </section>
              <section class="p-cultureLead">
                <h3 class="p-cultureLead-title--mgt">いいものをつくり、世の中を<br class="sp">Happyに。</h3>
                <p class="p-cultureLead-txt">Happy Elements株式会社では、あえて売上目標を設定していません。いいものをつくって世の中をHappyにすることが目的だからです。そのためにビジョンをしっかり定めて、一丸となって熱狂的に愛されるコンテンツをつくることを目指しています。</p>
              </section>
              <section class="p-aboutAnime">
                <div class="p-bgTxt--large col-02 js-content-show">PHILOSOPHY <br>SYSTEM</div>
                <div class="p-aboutAnime-head js-content-show">PHILOSOPHY SYSTEM / 理念体系</div>
                <div class="p-aboutAnime-anime js-anime">
                  <div class="p-aboutAnime-boxhead">
                    <svg class="pc" id="_レイヤー_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 676.85 238.29" width="676.8499755859375" height="238.2899932861328">
                      <defs>
                        <style>
                          .cls-1 {
                            stroke-miterlimit: 10;
                          }

                          .cls-1,
                          .cls-2 {
                            fill: none;
                            stroke: #19b8ff;
                            stroke-linecap: round;
                            stroke-width: 3px;
                          }

                        </style>
                      </defs>
                      <g id="_グループ_10011">
                        <path id="_パス_24815" class="cls-1 svg-elem-1-pc" d="M207.14,208.55H11.45c-5.47,.03-9.93-4.39-9.95-9.86,0,0,0,0,0,0V11.36C1.53,5.89,5.98,1.47,11.45,1.5c0,0,0,0,0,0H665.4c5.47-.03,9.93,4.39,9.95,9.86V198.69c-.03,5.47-4.48,9.89-9.95,9.86H293.96"></path>
                        <path id="_パス_8678" class="cls-2 svg-elem-2-pc" d="M266.22,204.99l-31.8,31.8"></path>
                      </g>
                    </svg>
                    <svg class="sp" id="_レイヤー_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 335 138.67" width="335" height="138.6699981689453">
                      <defs>
                        <style>
                          .cls-1 {
                            stroke-miterlimit: 10;
                          }

                          .cls-1,
                          .cls-2 {
                            fill: none;
                            stroke: #19b8ff;
                            stroke-linecap: round;
                            stroke-width: 3px;
                          }

                        </style>
                      </defs>
                      <g id="_グループ_10014">
                        <path id="_パス_24832" class="cls-1 svg-elem-1-sp" d="M159.44,123.5H5.51c-2.21,0-4.01-1.79-4.01-4V5.5c0-2.21,1.8-4,4.01-4H329.49c2.21,0,4.01,1.79,4.01,4h0V119.5c0,2.21-1.8,4-4.01,4h-125.88"></path>
                        <path id="_パス_8723" class="cls-2 svg-elem-2-sp" d="M187.94,121.46l-15.71,15.71"></path>
                      </g>
                    </svg>
                    <img src="<%= path %>about/anime_txt.png" alt="" class="pc">
                    <img src="<%= path %>about/anime_txt_sp.png" alt="" class="sp">
                    <p>ユーザーファーストなものづくりのための、<br> クリエイター・ファーストな組織を目指す</p>
                    <ul class="p-aboutAnime-boxstar">
                      <li><img src="<%= path %>about/star_01_pc.png" alt=""></li>
                      <li><img src="<%= path %>about/star_02_pc.png" alt=""></li>
                      <li><img src="<%= path %>about/star_03_pc.png" alt=""></li>
                      <li><img src="<%= path %>about/star_04_pc.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="p-aboutAnime-boxwrap">
                    <div class="p-aboutAnime-box">
                      <div class="p-aboutAnime-centertxt--01">
                        <img src="<%= path %>about/anime_txt_03_pc.png" class="pc" alt="">
                        <img src="<%= path %>about/anime_txt_01_sp.png" class="sp" alt="">
                      </div>
                      <div class="p-aboutAnime-txtwrap--01 pc">
                        <p>熱狂的に愛される</p>
                        <p>コンテンツをつくる</p>
                      </div>
                    </div>
                    <div class="p-aboutAnime-box">
                      <div class="p-aboutAnime-centertxt--02">
                        <img src="<%= path %>about/anime_txt_02_pc.png" class="pc" alt="">
                        <img src="<%= path %>about/anime_txt_02_sp.png" class="sp" alt="">
                      </div>
                      <div class="p-aboutAnime-txtwrap--02 pc">
                        <p>ユーザー、クリエイターを</p>
                        <p>ともにHappyにする</p>
                      </div>
                    </div>
                    <div class="p-aboutAnime-box">
                      <div class="p-aboutAnime-centertxt--03">
                        <img src="<%= path %>about/anime_txt_01_pc.png" class="pc" alt="">
                        <img src="<%= path %>about/anime_txt_03_sp.png" class="sp" alt="">
                      </div>
                      <div class="p-aboutAnime-txtwrap--03 pc">
                        <p>熱意 / 高い自由度 / </p>
                        <p>当事者意識 / 多様性の尊重</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="m-cultureAbout">
                <div class="m-cultureAbout-boxWrap">
                  <p class="m-cultureAbout-subttl js-content-show">VISION / 目指すこと</p>
                  <div class="m-cultureAbout-box">
                    <div class="m-cultureAbout-head js-content-show">
                      <div class="p-bgTxt--large js-content-show">VISION</div>
                      <h3 class="m-cultureAbout-ttl">熱狂的に愛される<br>コンテンツをつくる。</h3>
                    </div>
                    <div class="m-cultureAbout-txt"> 老若男女に愛されるのが理想的かもしれませんが、ターゲットを絞ってジャンルや質で勝負し、好きな人からは熱狂的に好きになってもらえるようなコンテンツをつくることを目指しています。 </div>
                  </div>
                </div>
                <div class="m-cultureAbout-boxWrap">
                  <p class="m-cultureAbout-subttl js-content-show">MISSION / 使命</p>
                  <div class="m-cultureAbout-box">
                    <div class="m-cultureAbout-head">
                      <div class="p-bgTxt--large js-content-show">MISSION</div>
                      <h3 class="m-cultureAbout-ttl js-content-show">ユーザー、クリエイターを<br>ともにHappyにする。</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show"> ユーザーはおもしろいゲームを楽しむことでHappyになれる。クリエイターは、たくさんの方に楽しんでいただけるゲームを生み出すことでHappyになれる。ヒットタイトルを生み出すことが、ともにHappyにすることにつながります。みんなをHappyにできるヒットタイトルを、継続的に生み出していくことをミッションにしています。 </div>
                  </div>
                </div>
                <div class="m-cultureAbout-boxWrap">
                  <p class="m-cultureAbout-subttl js-content-show">VALUE / 大切にする価値観</p>
                  <div class="m-cultureAbout-box--value">
                    <div class="m-cultureAbout-head--value">
                      <div class="p-bgTxt--large js-content-show">VALUE</div>
                      <h3 class="m-cultureAbout-ttl js-content-show">熱意</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show">クリエイターとしての感性を大切に、熱い思いをもち、こだわってものづくりをする。</div>
                  </div>
                  <div class="m-cultureAbout-box--value">
                    <div class="m-cultureAbout-head--value">
                      <h3 class="m-cultureAbout-ttl js-content-show">高い自由度</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show">目標を達成するためのやり方や考え方の自由度を重んじ、ルールや縛りは最低限にする。</div>
                  </div>
                  <div class="m-cultureAbout-box--value">
                    <div class="m-cultureAbout-head--value">
                      <h3 class="m-cultureAbout-ttl js-content-show">当事者意識</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show">良いサービスを提供するために、一人ひとりがそれぞれの立場で「どうすればベストなのか」を考える。</div>
                  </div>
                  <div class="m-cultureAbout-box--value">
                    <div class="m-cultureAbout-head--value">
                      <h3 class="m-cultureAbout-ttl js-content-show">多様性の尊重</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show">必ずしも仲良くなる必要はないが、仲間のことを知り仲間を信頼し、自分とは違う他者の考え方や働き方を尊重する。</div>
                  </div>
                </div>
                <div class="m-cultureAbout-boxWrap">
                  <p class="m-cultureAbout-subttl js-content-show">STRATEGY / 実現するための戦略</p>
                  <div class="m-cultureAbout-box--str">
                    <div class="m-cultureAbout-head">
                      <div class="p-bgTxt--large txt-adj01 js-content-show">STRATEGY</div>
                      <h3 class="m-cultureAbout-ttl js-content-show">ユーザーファーストな<br>ものづくり</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show"> 当社では、利益ではなく、たくさんの方に喜んでいただける「良いゲームをつくる」ことを一番の目的とし、良いゲームづくりを純粋に追求しています。 </div>
                  </div>
                  <div class="m-cultureAbout-box--str">
                    <div class="m-cultureAbout-head">
                      <h3 class="m-cultureAbout-ttl js-content-show">クリエイター・ファースト<br>な環境づくり</h3>
                    </div>
                    <div class="m-cultureAbout-txt js-content-show"> ユーザーファーストなものづくりを実現するために、クリエイターにとってベストな環境をつくりたい。ものづくりを邪魔する要素をできる限りなくして、現場が大きな裁量と責任を持ち、理想のゲームづくりを追求することができるような環境を整えています。<br> たとえば当社では、キャリアや職種に関係なく、良いゲームにするためなら遠慮なく意見を言い合えます。また、現場のクリエイターに一切の裁量とジャッジを委譲。たとえ社長でさえも、進行や決定を簡単に覆すことはありません。<br>
                      <a href="../culture/">→詳しくは「Happy Elements株式会社のカルチャー」へ</a>
                    </div>
                  </div>
                </div>
              </section>
            </main>
            <%- include("../include/_footer", {js: "../" }) -%>
