<% var info={ title : "社員インタビュー＃2｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。チーフプランナーとして活躍中の社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="p-interview-wrap-TT c-interview-wrap"></div>
    <div class="p-interview-wrap-TT02 c-interview-wrap" data-bg="01"></div>
    <div class="p-interview-wrap-TT02 c-interview-wrap" data-bg="02"></div>
    <div class="p-interview-wrap-TT03 c-interview-wrap" data-bg="03"></div>
    <div class="l-wrap p-interview-wrap-TT03 c-interview-wrap" data-bg="04">
      <!-- 閉じタグは_footer-.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <main>
            <button class="c-toUpBtn js-toUpBtn u-zindex_10">
            </button>
            <header class="p-interview-header u-sp-show">
              <div class="p-interview-header-inner">
                <h2 class="p-interview-header-title u-interview-title-blue"><span>02.</span>ENGINEER</h2>
                <div class="p-interview-header-desc">
                  <span class="p-interview-header-desc-name">NAME : T.T</span>
                  <span class="p-interview-header-desc-career">2019年入社 / 新卒入社</span>
                  <span class="p-interview-header-desc-position">あんさんぶるスターズ！！Music<br>プログラマー</span>
                </div>
                <!-- /.p-interview-header-desc -->
                <h3 class="p-interview-header-copy">
                  <span class="js-underLine-interviewTop">過度にバグを恐れず、新しい</span><br>
                  <span class="js-underLine-interviewTop02">機能や楽しいイベントを</span><br>
                  <span class="js-underLine-interviewTop03">いち早くリリース。</span>
                </h3>
              </div>
              <!-- /.p-interview-header-inner -->
            </header>
            <!-- <main class="l-main p-interview-main"> -->
            <header class="p-interview-pageHeader c-pageHeader">
              <h2 class="c-pageHeader-title">
                <span class="c-pageHeader-title-eng">INTERVIEW_02</span>
                <span class="c-pageHeader-title-jp">社員インタビュー</span>
              </h2>
            </header>
            <section class="p-interview">
              <header class="p-interview-header u-tb-none">
                <div class="p-interview-header-inner">
                  <h2 class="p-interview-header-title u-interview-title-blue"><span>02.</span>ENGINEER</h2>
                  <div class="p-interview-header-desc">
                    <span class="p-interview-header-desc-name">NAME : T.T</span>
                    <span class="p-interview-header-desc-career">2019年入社 / 新卒入社</span>
                    <span class="p-interview-header-desc-position">あんさんぶるスターズ！！Music<br>プログラマー</span>
                  </div>
                  <!-- /.p-interview-header-desc -->
                  <h3 class="p-interview-header-copy">
                    <span class="js-underLine-interviewTop">過度にバグを恐れず、</span><br>
                    <span class="js-underLine-interviewTop">新しい機能や</span><br>
                    <span class="js-underLine-interviewTop02">楽しいイベントを</span><br>
                    <span class="js-underLine-interviewTop03">いち早くリリース。</span>
                  </h3>
                </div>
                <!-- /.p-interview-header-inner -->
              </header>
              <div class="p-interview-inner">
                <ul class="p-interview-list">
                  <li class="p-interview-item">
                    <h4 class="p-interview-item-title"><span>入社まで</span>アルバイト時代から新規開発チームへ。もっと中心でゲームをつくりたい。</h4>
                    <p class="p-interview-item-text"> 僕がプログラミングを始めたのは大学生のとき。ゲーム好きが高じて、自分でもつくってみようと思ったのがきっかけです。はじめは趣味程度に思っていましたが、ある日、大学のアルバイト情報掲示板に「ゲームプログラマー募集」という求人票を見つけました。ゲーム会社の求人自体はいくつか見かけたことがあったのですがどこもデバッグ業務ばかりで、ゲーム開発のアルバイト募集に心惹かれました。それがHappy Elements株式会社との出会いです。<br> 経験不足は承知のうえダメ元での応募でしたが、ゲームをつくりたい熱量が伝わったのか採用していただくことになり、僕のプログラマー人生がスタートしました。<span class="js-underLine-interviewText-blue">新規開発チームへ配属されて、半年後にそのタイトルのリリースも経験</span>し、アルバイトながらゲーム開発の醍醐味を味わうことができました。<br><span class="js-underLine-interviewText-blue">Happy Elements株式会社は自社で企画から開発までが完結しているため、社員になればよりゲームつくりの中心部分に携われる</span>ということに魅力を感じ、大学卒業後に正社員として当社で働く道を選びました。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="01">
                    <h4 class="p-interview-item-title"><span>現在の仕事</span>システム的な完璧さよりも、ユーザーの楽しさを追求する。</h4>
                    <p class="p-interview-item-text">就職してすぐは新規開発のタイトルに携わっていましたが、世に出すところまで形にならずやむなく解散となりました。その後は『あんさんぶるスターズ！！Music（以下あんスタ！！Music）』というリズムゲームの開発チームに移りました。<br> 『あんスタ！！Music』では主にアップデートによる新機能や季節・周年キャンペーン関連の実装を任されています。<br> はじめの頃は自分が実装した機能をリリースするのにかなり緊張していましたが、先輩から「過度にバグを恐れず、予定通りにリリースできることが何よりも大切」とアドバイスをいただき、気持ちが楽になったのを覚えています。そうしてリリースしてユーザーさんから良い反応が返ってくると自信につながりました。<br>そんな経験を経て、<span class="js-underLine-interviewText-blue">プログラマーとしてのこだわりは程々に、しっかりとリリースすることでユーザーさんに楽しんでいただくことが重要</span>と考えるようになりました。特に競争が激しいソーシャルゲーム市場においては、継続的にリリースしてユーザーさんに楽しみ続けていただくために、開発速度で足を引っ張る訳にはいかないという使命感があります。<br> とはいえ不具合を多発するのも良くないので、<span class="js-underLine-interviewText-blue">保守性と速度感のバランス</span>を考えながら日々機能の実装に励んでいます。 </p>
                  </li>
                  <li class="p-interview-item" data-trigger="02">
                    <div class="p-interview-item-header">
                      <img class="p-interview-item-header-logo" src="<%= path %>interview/interveiw_logo_only.png" alt="ここがHappy Elements株式会社らしさ！">
                      <p class="p-interview-item-header-text">ここが<br class="u-tb-none">Happy Elements株式会社らしさ！</p>
                    </div>
                    <h4 class="p-interview-item-centerTitle">グループカラーが違うから、<br>誰にも活躍の場がある。</h4>
                    <p class="p-interview-item-text">当社ではコンテンツごとにグループが分かれていて、職場の雰囲気や開発方法もチームによって異なります。例えば、新規開発チームでそれぞれが自由にアイデアを出し合い、納得いくまで議論をするグループもあれば、『あんスタ！！』グループでは「『あんスタ！！』らしさ」を最優先に考えて組織的に開発を進めています。どちらが良いとかではなく、カラーが違うグループがたくさんあるからこそ、社内でも自分の強みを活かして活躍できるチャンスがさまざまにあるのは魅力だと感じています。『あんスタ！！』は、<span class="js-underLine-interviewText-blue">あまり立場に関わらずやりたいと手を挙げればチャンスがもらえることも多い</span>グループだと思っています。そこで成果をしっかり出せればまた次のチャンスが巡ってくると感じており、自分の積極的にチャレンジしてみたい性格にはマッチしていると思っています。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="03">
                    <h4 class="p-interview-item-title"><span>思い出に残る仕事</span>『あんスタ！！』史上初のマルチプレイ機能を、ノウハウ０から開発。</h4>
                    <p class="p-interview-item-text">『あんスタ！！Music』には「あんさんぶるライブ」というモードがあって、ユーザーさん同士がリアルタイム通信で一緒にゲームを楽しむことができます。<br> この<span class="js-underLine-interviewText-blue">「あんさんぶるライブ」の開発をメインで担当</span>していたのですが、ゲームの規模的に社内のマルチプレイのノウハウを活用することが難しく、とても苦労しました。幸運にもインフラグループにマルチプレイの開発経験のある方がいたので、相談を重ねながらどのような構成でつくっていくのかを決めていきました。<br>「あんさんぶるライブ」では他のユーザーさんと一緒にライブをしているという体験が重要となるため、MMORPGのような精度の高い同期処理まではそれほど必要ないと考え、ある程度シンプルな仕組みにすることで『あんスタ！！Music』リリースから半年ちょっとでβ版をリリース、1周年で本リリースを行うことができました。<br>ここでも「過度にバグを恐れない」精神で、<span class="js-underLine-interviewText-blue">絶対にユーザーさんに楽しんでいただける機能だという自信はあったので、できるだけ早くお届けできるように取り組みました。</span>実際にユーザーさんの反響が良くてうれしかったですし、プログラマーとして成長を実感できた仕事です。</p>
                    <!-- /.p-interview-item-img -->
                  </li>
                  <li class="p-interview-item" data-trigger="04">
                    <h4 class="p-interview-item-title"><span>今後の夢</span>引き出しを増やして、また新規開発にチャレンジしたい。</h4>
                    <p class="p-interview-item-text">以前所属していた新規開発グループが解散になったときショックを受けてとても悔しい気持ちになりました。自分たちが手掛けてきたものが日の目を見ないで消えていく無念さに加えて、昨今の規模が拡大しているゲーム市場で新つくをリリースする難しさも痛感しました。<br> そのため最近では<span class="js-underLine-interviewText-blue">プログラマーという分野だけに留まらず、ゲーム全体をしっかり完成させてリリースに持っていける力を付けることが必要</span>だと感じています。 ゲーム開発未経験から入社した身ではありましたが、『あんスタ！！Music』の開発経験を経て、プログラマーとしてできることも増えて自信もついてきたと実感しています。 今後はその経験も活かしてまた新規開発にチャレンジして、当社から世の中に魅力的なゲームをお届けする一助となりたいです。</p>
                  </li>
                </ul>
                <!-- /.p-interview-content -->
              </div>
              <!-- /.p-interview-inner -->
            </section>
            <section class="p-nextPrev u-zindex_1">
              <div class="p-nextPrev-inner">
                <div class="p-nextPrev-wrapper">
                  <div class="p-nextPrev-next">
                    <a href="../03/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-next-num">03.</span>
                        <span class="p-nextPrev-next-job">ILLUSTRATOR</span>
                        <p class="p-nextPrev-next-copy u-tb-none">
                          <span>自分の描いたキャラクターが</span><br>
                          <span>やがてステージに立ち、</span><br>
                          <span>アイドルとして熱狂を生みだす。</span>
                        </p>
                        <p class="p-nextPrev-next-copy u-tb-show">
                          <span>自分の描いたキャラクターがやがて</span><br>
                          <span>ステージに立ち、アイドルとして熱狂を生みだす。</span>
                        </p>
                        <span class="p-nextPrev-next-name">NAME : K.M</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-pink"></div>
                        <img src="<%= path %>interview/top/interview_index03.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-next -->
                  <div class="p-nextPrev-prev">
                    <a href="../01/" class="p-nextPrev-link">
                      <!-- <a href="" class="p-nextPrev-link" style='background-image: url(../../assets/images/interview/interview_04.jpg);'> -->
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-prev-num">01.</span>
                        <span class="p-nextPrev-prev-job">PLANNER</span>
                        <p class="p-nextPrev-prev-copy u-tb-none">
                          <span>ゲームにイベントに。</span><br>
                          <span>自分達の世界観で、</span><br>
                          <span>ユーザーを沸かせたい｡</span>
                        </p>
                        <p class="p-nextPrev-next-copy u-tb-show">
                          <span>ゲームにイベントに。</span><br>
                          <span>自分達の世界観で、ユーザーを沸かせたい。</span>
                        </p>
                        <span class="p-nextPrev-prev-name">NAME : Y.U</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-green"></div>
                        <img src="<%= path %>interview/top/interview_index01.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-prev -->
                </div>
                <!-- /.p-nextPrev-wrapper -->
                <div class="c-returnBtn">
                  <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                  <p class="c-returnBtn-text">INDEX</p>
                </div>
              </div>
              <!-- /.p-nextPrev-inner -->
            </section>
          </main>
          <footer class="l-footer p-footer">
            <div class="p-footer-inner">
              <ul class="p-footer-nav">
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
                </li>
              </ul>
              <small class="p-footer__copy">&copy; Happy Elements K.K</small>
            </div>
            <!-- /.l-footer__inner -->
          </footer>
    </div><!-- l-wrap -->
    </body>
    <script src="../../assets/js/bundle.js"></script>

    </html>
