<% const info={ title : "事業紹介｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。私たちの事業の特徴や強みについてご紹介します。" , css: "../" }; %>
  <%- include("../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../assets/images/"]%>
        <%- include("../include/_header", {path: '../' }) -%>
          <%- include("../include/_threecanvas", {path: '../' }) -%>
            <main class="l-main">
              <section class="p-indexHeader">
                <div class="p-indexHeader-inner">
                  <div class="p-indexHeader-title">
                    <h2 class="p-indexHeader-title-main">
                      <ul class="p-indexHeader-title-fonts js-title">
                        <li class="p-indexHeader-title-font js-title-font">B</li>
                        <li class="p-indexHeader-title-font js-title-font">U</li>
                        <li class="p-indexHeader-title-font js-title-font">S</li>
                        <li class="p-indexHeader-title-font js-title-font">I</li>
                        <li class="p-indexHeader-title-font js-title-font">N</li>
                        <li class="p-indexHeader-title-font js-title-font">E</li>
                        <li class="p-indexHeader-title-font js-title-font">S</li>
                        <li class="p-indexHeader-title-font js-title-font">S</li>
                      </ul>
                    </h2>
                    <h3 class="p-indexHeader-title-sub">事業紹介</h3>
                  </div>
                </div>
                <!-- /.p-indexHeader-inner -->
              </section>
              <section class="p-cultureLead--business">
                <h3 class="p-cultureLead-title--mgt">オリジナルにこだわった<br>熱狂的に愛されるコンテンツを。</h3>
                <p class="p-cultureLead-txt">好きな人にとっては熱狂的に好きになってもらえるような深く刺さるコンテンツを、自分たちでオリジナルにこだわってつくっていく。その方が、きっとおもしろいから。</p>
              </section>
              <section class="p-cultureBusiness">
                <div class="p-bgTxt js-content-show">OUR STRENGTHS</div>
                <div class="p-cultureBusiness-haed--top js-content-show">
                  <img src="<%= path %>business/head_01.svg" alt="">
                </div>
                <div class="p-cultureBusiness-box js-content-show">
                  <h3 class="p-cultureBusiness-title">内製主義。<br class="p-cultureBusiness-title-pc">熱量を<br class="p-cultureBusiness-title-sp">ダイレクトにユーザーへ。</h3>
                  <p class="p-cultureBusiness-txt">プランナーからデザイナー、エンジニア、イラストレーター、サウンドなど、従業員クリエイターがメインの内製主義。「良いものをつくる」という目的に対して同じ方向を向くには、内製がベストだと考えるから。社内で密に連携をとりながら、みんなが同じ熱量でユーザーに伝えていくことができるのは大きな強みです。</p>
                </div>
                <div class="p-cultureBusiness-box js-content-show">
                  <h3 class="p-cultureBusiness-title">オリジナルにこだわる<br>＆ゲリラ主義。</h3>
                  <p class="p-cultureBusiness-txt">内製主義の強みを最大限活かすためにも、オリジナルコンテンツにこだわってきました。特に、従業員として大勢のイラストレーターを抱えている強みを活かして、Happy Elements株式会社らしいオリジナルコンテンツで勝負しています。また、少数精鋭で一人ひとりが個性を活かして主体的に動く"ゲリラ的"なものづくりも特徴です。</p>
                </div>
                <div class="p-cultureBusiness-box js-content-show">
                  <h3 class="p-cultureBusiness-title">ヒットタイトルがあり、<br>ファンがいる。</h3>
                  <p class="p-cultureBusiness-txt">「熱狂的に愛されるコンテンツをつくる」というビジョンのもと、好きな人には深く刺さるコンテンツづくりを徹底してきた当社。おかげさまでいくつかのヒットタイトルを生み出すことができ、また多くのファンの方にご支持いただいています。「次はなに？」というファンの方々の期待は、当社の大きな励みになっています。</p>
                </div>
              </section>
              <section class="p-cultureBusinessLabel">
                <div class="p-bgTxt js-content-show">SERVICE TITLE</div>
                <div class="p-cultureBusinessLabel-head js-content-show">
                  <img src="<%= path %>business/head_02.svg" alt="">
                </div>
                <ul class="p-cultureBusinessLabel-list">
                  <li class="p-cultureBusinessLabel-item  js-content-show">
                    <a href="https://ensemble-stars.jp/" target="_blank" rel="noopener noreferrer" class="p-cultureBusinessLabel-link">
                      <div class="p-cultureBusinessLabel-pctwrap">
                        <img src="<%= path %>business/ph_02.jpg" alt="">
                      </div>
                      <p class="p-cultureBusinessLabel-txt">あんさんぶるスターズ！！Basic/Music</p>
                    </a>
                  </li>
                  <li class="p-cultureBusinessLabel-item  js-content-show">
                    <a href="https://lastperiod.happyelements.co.jp/" target="_blank" rel="noopener noreferrer" class="p-cultureBusinessLabel-link">
                      <div class="p-cultureBusinessLabel-pctwrap">
                        <img src="<%= path %>business/ph_03.jpg" alt="">
                      </div>
                      <p class="p-cultureBusinessLabel-txt">ラストピリオド - 巡りあう螺旋の物語-</p>
                    </a>
                  </li>
                  <li class="p-cultureBusinessLabel-item  js-content-show">
                    <a href="https://helios-r.jp/" target="_blank" rel="noopener noreferrer" class="p-cultureBusinessLabel-link">
                      <div class="p-cultureBusinessLabel-pctwrap">
                        <img src="<%= path %>business/ph_04.jpg" alt="">
                      </div>
                      <p class="p-cultureBusinessLabel-txt">エリオスライジングヒーローズ</p>
                    </a>
                  </li>
                </ul>
              </section>
            </main>
            <%- include("../include/_footer", {js: "../" }) -%>
