<% var info={ title : "社員インタビュー＃5｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。チーフプランナーとして活躍中の社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="p-interview-wrap-ST c-interview-wrap"></div>
    <div class="p-interview-wrap-ST02 c-interview-wrap" data-bg="01"></div>
    <div class="p-interview-wrap-ST02 c-interview-wrap" data-bg="02"></div>
    <div class="p-interview-wrap-ST03 c-interview-wrap" data-bg="03"></div>
    <div class="l-wrap p-interview-wrap-ST03 c-interview-wrap" data-bg="04">
      <!-- 閉じタグは_footer-.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <main>
            <button class="c-toUpBtn js-toUpBtn u-zindex_10">
            </button>
            <header class="p-interview-header u-sp-show">
              <div class="p-interview-header-inner">
                <h2 class="p-interview-header-title u-interview-title-pink"><span>05.</span>DESIGNER</h2>
                <div class="p-interview-header-desc">
                  <span class="p-interview-header-desc-name">NAME : S.T</span>
                  <span class="p-interview-header-desc-career">2014年入社 / 前職：グラフィックデザイナー</span>
                  <span class="p-interview-header-desc-position">あんさんぶるスターズ！！Music<br>グラフィックデザイナー/リードUIデザイナー</span>
                </div>
                <!-- /.p-interview-header-desc -->
                <h3 class="p-interview-header-copy">
                  <span class="js-underLine-interviewTop">誰かを感動させたい、</span><br>
                  <span class="js-underLine-interviewTop02">という想いがないと</span><br>
                  <span class="js-underLine-interviewTop03">自社開発はできない。</span>
                </h3>
              </div>
              <!-- /.p-interview-header-inner -->
            </header>
            <!-- <main class="l-main p-interview-main"> -->
            <header class="p-interview-pageHeader c-pageHeader">
              <h2 class="c-pageHeader-title">
                <span class="c-pageHeader-title-eng">INTERVIEW_05</span>
                <span class="c-pageHeader-title-jp">社員インタビュー</span>
              </h2>
            </header>
            <section class="p-interview">
              <header class="p-interview-header u-tb-none">
                <div class="p-interview-header-inner">
                  <h2 class="p-interview-header-title u-interview-title-pink"><span>05.</span>DESIGNER</h2>
                  <div class="p-interview-header-desc">
                    <span class="p-interview-header-desc-name">NAME : S.T</span>
                    <span class="p-interview-header-desc-career">2014年入社 / 前職：グラフィックデザイナー</span>
                    <span class="p-interview-header-desc-position">あんさんぶるスターズ！！Music<br>グラフィックデザイナー/リードUIデザイナー</span>
                  </div>
                  <!-- /.p-interview-header-desc -->
                  <h3 class="p-interview-header-copy">
                    <span class="js-underLine-interviewTop">誰かを感動させたい、</span><br>
                    <span class="js-underLine-interviewTop02">という想いがないと</span><br>
                    <span class="js-underLine-interviewTop03">自社開発はできない。</span>
                  </h3>
                </div>
                <!-- /.p-interview-header-inner -->
              </header>
              <div class="p-interview-inner">
                <ul class="p-interview-list">
                  <li class="p-interview-item">
                    <h4 class="p-interview-item-title"><span>入社まで</span>受託ではなく、「自社開発」でキャリアアップを。</h4>
                    <p class="p-interview-item-text">デザイン系の学校を卒業して、20歳で大阪にあるオンラインゲームの会社へwebデザイナーとして入社しました。小さな会社でしたから、webもやりながらゲームのグラフィックも担当していました。入社から5年たった25歳のときに、転職を決意。理由は2つ。1つは出身地の京都で働きたかったから。もう1つは、<span class="js-underLine-interviewText-pink">自社開発をしている会社に行きたかった。</span>前の会社は受託開発がほとんどで、発注主から言われた通りにつくることが基本。自分たちから「こうしたい」という発信が難しかったのです。<span class="js-underLine-interviewText-pink">今のままではデザイナーとしてのキャリアアップができないという危機感</span>もありました。もともとゲームが大好きだったこともあり、「ゲーム」×「京都」×「自社開発」ということでひっかかってきたのがHappy Elements株式会社でした。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="01">
                    <h4 class="p-interview-item-title"><span>現在の仕事</span>企画から実装まで、幅広くUIデザインを担当。</h4>
                    <p class="p-interview-item-text">2014年9月に、当社に入社。入社2年目のとき、『あんさんぶるスターズ！』のリリースを控える中、UI経験のある人が少ないという話を耳にして、リーダーの人に「僕に手伝わせてください」と直談判。参加を認められて、無事リリースに。ユーザーさんの反響もすごく良くて、うれしかったですね。熱意とスキルがあれば、入社して日が浅くても任せてもらえる。当社の社風ですね。<br>その後は、いくつかのゲームの開発・運用を経て、『あんさんぶるスターズ！！Basic/Music（以下、あんスタ！！）』の立ち上げを担当することに。現在は、<span class="js-underLine-interviewText-pink">リードUIデザイナーとして、メインUIの制作やグラフィックデザインのディレクション、ロゴ作成などを担当。またグラフィックチームのメンバー管理や育成、タスク管理などマネジメント業務も行っています。</span><br>UIデザインは、ユーザーさんがストレスなくゲームを進行できるようにデザインすることがベースです。基本的な流れとしては、まずプランナーやエンジニアとともに企画の内容を具体的につめていきます。そこからどんな画面が必要か、ボタンやロゴはどうすれば良いかなど、実際にモック（試作）にしながらイメージをすり合わせていきます。イメージが固まれば、画面の仕様書を作成。それをもとに、具体的なUIのグラフィックやロゴを作成。『あんスタ！！』の場合、このあたりの裁量は、かなりグラフィックデザイナーに与えられています。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="02">
                    <div class="p-interview-item-header">
                      <img class="p-interview-item-header-logo" src="<%= path %>interview/interveiw_logo_only.png" alt="ここがHappy Elements株式会社らしさ！">
                      <p class="p-interview-item-header-text">ここが<br class="u-tb-none">Happy Elements株式会社らしさ！</p>
                    </div>
                    <h4 class="p-interview-item-centerTitle">予算を気にしたことがない。</h4>
                    <p class="p-interview-item-text">受託開発が中心だった前職では、クライアントとの予算や納期の調整など、ものづくり以外で悩まないといけない部分が多くありました。当社ではその逆で、<span class="js-underLine-interviewText-pink">「予算」ではなく「良いものをつくる」ことが最優先</span>なので、会社側がそこをサポートしてくれます。まさにクリエイター・ファーストで、キャリア入社の人は誰しも実感していると思います。また、人間関係のトラブルも私の周囲では見たことがない。それは、予算やビジネス的な話がつきまとうことなく、「いま作っているものを、もっと良くするにはどうするか」という視点のみで会話できる環境だからだと思います。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="03">
                    <h4 class="p-interview-item-title"><span>思い出に残る仕事</span>ゲームづくりの「筋トレ」制度をつくる。</h4>
                    <p class="p-interview-item-text">ゲーム業界はどんどん開発の規模が大きくなっていて、1本をリリースするまでに何年もかかることもあります。つまり新しく入社する人たちにとって、新規プロジェクトの立ち上げ経験が積みづらくなっています。ゼロからつくる経験があってこそ成長する。そう考えて、会社と相談して立ち上げたのが「サブプロジェクト制度」です。これは、業務外の時間で、新しいアプリをみんなでつくろう、という制度。<span class="js-underLine-interviewText-pink">イラストレーターやデザイナーなどアプリの立ち上げ経験がない人向けに、ミニゲームをつくることでプロジェクト立ち上げを擬似体験</span>するわけです。ゲームづくりの「筋トレ」ですね。希望するメンバーが集まり、ミニゲームをつくって、ストアで販売する。社内でも人気で開催するたびに参加人数が増えています。こういった制度を、柔軟に企画・実施できるのも、当社の良さかもしれません。</p>
                    <!-- /.p-interview-item-img -->
                  </li>
                  <li class="p-interview-item" data-trigger="04">
                    <h4 class="p-interview-item-title"><span>今後の夢</span>感動の、恩返しをしたい。</h4>
                    <p class="p-interview-item-text">私自身、小さなころからゲームやアニメが大好きで、これまでさまざまなコンテンツから、たくさんの感動を与えてもらいました。だからこそ、私も同じように誰かを感動させるゲームを生み出したい。ユーザーさんにとびきり楽しい体験をしてもらいたい。それが私の原動力です。特に自社開発では、そういうマインドがないと、ゲームづくりに携わることは難しいと思うのです。<span class="js-underLine-interviewText-pink">グラフィックデザイナーという立場ですが、自分で企画して新規プロジェクトを立ち上げてみたい。</span>また、立ち上げをやりたいと思っている若手メンバーの手助けもしてあげたい。私自身は、正直なところマネジメントは得意じゃない。とくに人の育成やメンタルケアは難しいし、代わってくれる人がいれば代わってほしい（笑）。でも挑戦する人は好きだし、できるだけ支えてあげたい。そう思います。</p>
                  </li>
                </ul>
                <!-- /.p-interview-content -->
              </div>
              <!-- /.p-interview-inner -->
            </section>
            <section class="p-nextPrev u-zindex_1">
              <div class="p-nextPrev-inner">
                <div class="p-nextPrev-wrapper">
                  <div class="p-nextPrev-next">
                    <a href="../06/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-next-num">06.</span>
                        <span class="p-nextPrev-next-job">ILLUSTRATOR</span>
                        <p class="p-nextPrev-next-copy u-tb-none">
                          <span>苦手なタッチへの挑戦が</span><br>
                          <span>ユーザーのフェチ心に届き、</span><br>
                          <span>わたしの武器を増やした。</span>
                        </p>
                        <p class="p-nextPrev-next-copy u-tb-show">
                          <span>苦手なタッチへの挑戦がユーザーのフェチ心に届き、</span><br>
                          <span>わたしの武器を増やした。</span>
                        </p>
                        <span class="p-nextPrev-next-name">NAME : M.T</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-pink"></div>
                        <img src="<%= path %>interview/top/interview_index06.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-next -->
                  <div class="p-nextPrev-prev">
                    <a href="../04/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-prev-num">04.</span>
                        <span class="p-nextPrev-prev-job">DESIGNER</span>
                        <p class="p-nextPrev-prev-copy"><span>ユーザーの喜ぶ姿を間近で見ながら、</span><br>
                          <span>心を動かす</span><br class="u-tb-none"><span>クリエイティブを追求。</span>
                        </p>
                        <span class="p-nextPrev-prev-name">NAME : K.A</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-pink"></div>
                        <img src="<%= path %>interview/top/interview_index04.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-prev -->
                </div>
                <!-- /.p-nextPrev-wrapper -->
                <div class="c-returnBtn">
                  <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                  <p class="c-returnBtn-text">INDEX</p>
                </div>
              </div>
              <!-- /.p-nextPrev-inner -->
            </section>
          </main>
          <footer class="l-footer p-footer">
            <div class="p-footer-inner">
              <ul class="p-footer-nav">
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
                </li>
              </ul>
              <small class="p-footer__copy">&copy; Happy Elements K.K</small>
            </div>
            <!-- /.l-footer__inner -->
          </footer>
    </div><!-- l-wrap -->
    </body>
    <script src="../../assets/js/bundle.js"></script>

    </html>
