<% const info={ title : "Happy Elements株式会社のカルチャー｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。Happy Elementsのカルチャーについてご紹介します。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <%- include("../../include/_threecanvas", {path: '../../' }) -%>
            <main class="l-main">
              <section class="p-indexHeaderJp">
                <div class="p-indexHeaderJp-inner">
                  <div class="p-indexHeaderJp-title">
                    <div class="p-indexHeaderJp-title-sub">
                      <p class="p-indexHeaderJp-title-en">CULTURE _ 01</p>
                      <p class="p-indexHeaderJp-title-ja">Happy Elements株式会社の<br class="u-sp-none">企業文化</p>
                    </div>
                    <h2 class="p-sectionHeader-title-main">
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">H</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">a</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">p</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">p</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">y&nbsp;</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">E</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">l</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">e</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">m</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">e</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">n</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">t</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">s</li>
                      </ul>
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">株</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">式</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">会</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">社</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">の</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">カ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ル</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">チ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ャ</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">ー</li>
                      </ul>
                    </h2>
                  </div>
                </div>
                <!-- /.p-indexHeaderJp-inner -->
              </section>
              <section class="p-cultureLead">
                <h3 class="p-cultureLead-title--mgt">クリエイターの熱量を、<br class="sp">画面の向こうへ。</h3>
                <p class="p-cultureLead-txt">クリエイターが熱量を持ってゲーム開発に取り組んでこそ、熱狂的に愛されるコンテンツは生まれるもの。ここでは、当社のゲーム開発におけるこだわりや開発環境についてご紹介します。</p>
              </section>
              <section class="p-cultureIcon">
                <div class="p-bgTxt js-content-show">OUR CULTURE</div>
                <h2 class="p-cultureIcon-head js-content-show">
                  <img src="<%= path %>culture/character/head_01.svg" alt="">
                </h2>
                <div class="p-cultureIcon-boxWrap">
                  <div class="p-cultureIcon-box js-content-show">
                    <div class="p-cultureIcon-pct">
                      <img src="<%= path %>culture/character/icon_01.png" alt="">
                    </div>
                    <div class="p-cultureIcon-txt">
                      <h3 class="p-cultureIcon-title">当事者意識を高める<br>｢１人１プロジェクト制｣</h3>
                      <div class="p-cultureIcon-desc">当社では、基本的に１人が複数のプロジェクトを兼務することはありません。1プロジェクトに専念することで、関わっているタイトルに対して、「自分のゲームをつくっている」という高い当事者意識を持って取り組むことができます。 </div>
                    </div>
                  </div>
                  <div class="p-cultureIcon-box js-content-show">
                    <div class="p-cultureIcon-pct">
                      <img src="<%= path %>culture/character/icon_02.png" alt="">
                    </div>
                    <div class="p-cultureIcon-txt">
                      <h3 class="p-cultureIcon-title">開発に集中できる｢グループ部屋｣</h3>
                      <div class="p-cultureIcon-desc"> 『あんスタ！！』『メルスト』『ラスピリ』といったタイトルごとにワークスペースを分け、それぞれのプロジェクトに集中できるようにしています。さらに、作業に没頭したいデザイナー職には、左右がサイドパネルで仕切られたブース型デスクを、さまざまな職種と連携を取り合うプランナー職や、作業スペースを広く取りたいエンジニア職には、開放的なL字型デスクを用意。それぞれが効率的に業務を進めながらも、コンテンツに関わる人が基本的には同じフロアにいるので、お互いに随時相談しながら開発を進めることができます。 </div>
                    </div>
                  </div>
                  <div class="p-cultureIcon-box js-content-show">
                    <div class="p-cultureIcon-pct">
                      <img src="<%= path %>culture/character/icon_03.png" alt="">
                    </div>
                    <div class="p-cultureIcon-txt">
                      <h3 class="p-cultureIcon-title">外野はゲームに<br>口出しするべからず！ </h3>
                      <div class="p-cultureIcon-desc">ゲーム開発において、クリエイターの感性を大切にしています。現場で熟考されたアイデアや判断に対して、外野から邪魔をしたくない。当社では、たとえ社長であってもゲーム開発の決定に簡単に介入することはありません。現場が大きな裁量と責任を持ち、自分たちの考えで理想のゲームを追求することができます。 </div>
                    </div>
                  </div>
                  <div class="p-cultureIcon-box js-content-show">
                    <div class="p-cultureIcon-pct">
                      <img src="<%= path %>culture/character/icon_04.png" alt="">
                    </div>
                    <div class="p-cultureIcon-txt">
                      <h3 class="p-cultureIcon-title">ユーザーの<br>Happyを純粋に追求</h3>
                      <div class="p-cultureIcon-desc">当社は、利益ではなく、たくさんの方に喜んでいただける「良いゲームをつくる」ことを一番の目的としています。もちろん、会社を運営しゲームづくりを続けるために利益は必要ですが、喜んでいただいた結果得られるものだという考えです。売上や利益を追い求めるのではなく、純粋に良いゲームを目指して開発することができます。 </div>
                    </div>
                  </div>
                  <div class="p-cultureIcon-box js-content-show">
                    <div class="p-cultureIcon-pct">
                      <img src="<%= path %>culture/character/icon_05.png" alt="">
                    </div>
                    <div class="p-cultureIcon-txt">
                      <h3 class="p-cultureIcon-title">個性を尊重し、<br>若手も自由に物言える風土</h3>
                      <div class="p-cultureIcon-desc">当社には年齢、立場、キャリアに関わらず面白い意見は採用されたり、意欲のある人に責任ある仕事を任せたりする風土があります。価値観を押し付けられたり、古い意見によって独創性が損なわれたりすることなく、自分次第で常に新しいチャレンジをすることができます。 </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="p-cultureOthers">
                <div class="p-bgTxt js-content-show">OTHER CULTURE</div>
                <h2 class="p-cultureOthers-head js-content-show">
                  <img src="<%= path %>culture/character/head_02.svg" alt="">
                </h2>
                <ul class="p-cultureOthers-list">
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../officetour/" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_02_pc.jpg" alt="オフィスツアー" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_02_sp.jpg" alt="オフィスツアー" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title">
                        <span>02.</span>
                        <span>オフィスツアー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../data" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_03_pc.jpg" alt="データで見るHappy Elements株式会社" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_03_pc.jpg" alt="データで見るHappy Elements株式会社" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title u-top-40">
                        <span>03.</span>
                        <span>データで見る<br>Happy Elements株式会社</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../benefit/" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_04_pc.jpg" alt="福利厚生/制度" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_04_pc.jpg" alt="福利厚生/制度" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title">
                        <span>04.</span>
                        <span>福利厚生/制度</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </main>
            <%- include("../../include/_footer", {js: "../../" }) -%>
