<% var info={ title : "社員インタビュー＃1｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。チーフプランナーとして活躍中の社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="p-interview-wrap-YU c-interview-wrap"></div>
    <div class="p-interview-wrap-YU02 c-interview-wrap" data-bg="01"></div>
    <div class="p-interview-wrap-YU02 c-interview-wrap" data-bg="02"></div>
    <div class="p-interview-wrap-YU03 c-interview-wrap" data-bg="03"></div>
    <div class="l-wrap p-interview-wrap-YU03 c-interview-wrap" data-bg="04">
      <!-- 閉じタグは_footer-.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <main>
            <button class="c-toUpBtn js-toUpBtn u-zindex_10">
            </button>
            <header class="p-interview-header u-sp-show">
              <div class="p-interview-header-inner">
                <h2 class="p-interview-header-title u-interview-title-green"><span>01.</span>PLANNER</h2>
                <div class="p-interview-header-desc">
                  <span class="p-interview-header-desc-name">NAME : Y.U</span>
                  <span class="p-interview-header-desc-career">2017年入社 / 前職 : プランナー</span>
                  <span class="p-interview-header-desc-position">チーフプランナー＆メルクストーリアグループ・分析チームグループ・<br class="u-sp-show">サウンドグループ グループリーダー</span>
                </div>
                <!-- /.p-interview-header-desc -->
                <h3 class="p-interview-header-copy">
                  <span class="js-underLine-interviewTop">ゲームにイベントに。</span><br>
                  <span class="js-underLine-interviewTop02">自分達の世界観で、</span><br>
                  <span class="js-underLine-interviewTop03">ユーザーを沸かせたい｡</span>
                </h3>
              </div>
              <!-- /.p-interview-header-inner -->
            </header>
            <header class="p-interview-pageHeader c-pageHeader">
              <h2 class="c-pageHeader-title">
                <span class="c-pageHeader-title-eng">INTERVIEW_01</span>
                <span class="c-pageHeader-title-jp">社員インタビュー</span>
              </h2>
            </header>
            <section class="p-interview">
              <header class="p-interview-header u-tb-none">
                <div class="p-interview-header-inner">
                  <h2 class="p-interview-header-title u-interview-title-green"><span>01.</span>PLANNER</h2>
                  <div class="p-interview-header-desc">
                    <span class="p-interview-header-desc-name">NAME : Y.U</span>
                    <span class="p-interview-header-desc-career">2017年入社 / 前職 : プランナー</span>
                    <span class="p-interview-header-desc-position">チーフプランナー＆メルクストーリアグループ・分析チームグループ・<br class="u-sp-show">サウンドグループ グループリーダー</span>
                  </div>
                  <!-- /.p-interview-header-desc -->
                  <h3 class="p-interview-header-copy">
                    <span class="js-underLine-interviewTop">ゲームにイベントに。</span><br>
                    <span class="js-underLine-interviewTop02">自分達の世界観で、</span><br>
                    <span class="js-underLine-interviewTop03">ユーザーを沸かせたい｡</span>
                  </h3>
                </div>
                <!-- /.p-interview-header-inner -->
              </header>
              <div class="p-interview-inner">
                <ul class="p-interview-list">
                  <li class="p-interview-item">
                    <h4 class="p-interview-item-title"><span>入社まで</span>自己表現の場を求めて、<br class="u-pc-show">受託からパブリッシャーへ。</h4>
                    <p class="p-interview-item-text">私の前職は、ゲーム受託開発会社のプランナーでした。大学卒業から13年間勤め、小規模なガラケーアプリから有名タイトルの大規模スマートフォンゲームまで、たくさんの開発経験を積ませてもらいました。大きな不満はありませんでしたが、<span class="js-underLine-interviewText-green">自分の中にノウハウが蓄積されてくると、それらを使って自分なりの世界観を表現したいという気持ちが芽生えてきて、パブリッシャーへの転職を決めたんです。</span><br>Happy Elements株式会社のことは実はあまり知らなかったのですが、前職の同僚から「現場のものづくりが尊重されている」「成功した時などの待遇が手厚く夢がある」「社風が自由」という話を聞き、思い切って応募しました。実際に面接でそのあたりのことを確かめることができましたし、何よりもベンチャーらしい熱量の高さに惹かれました。あと、オフィスのオシャレさも、実は高得点の要因だったりしました（笑）。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="01">
                    <h4 class="p-interview-item-title"><span>現在の仕事</span>40名のこだわりを一つにまとめて、ユーザーの喜びを追求。</h4>
                    <p class="p-interview-item-text">入社からずっと『メルクストーリア（以下メルスト）』のプランナーを担当しています。入社直後は、一プランナーとして先輩の下について、ゲームの作風やユーザーニーズを理解していくところからスタートし、少しずつグループメンバーとの信頼関係を築きながら、仕事の幅を広げていきました。<br> 現在は『メルスト』のプランニング全般を担いつつ、グループ全体のリーダーも担当。『メルスト』グループには、プランナー、プログラマー、イラストレーター、アニメーター、グラフィックデザイナーなど約40名のメンバーが在籍し、それぞれに職種長が立っています。私はその職種長たちと連携をとってみんなのこだわりを『メルスト』というゲームに落とし込みながら、自身もプランナーとして手を動かしています。<br> 実際に働いてみて感じるのは、<span class="js-underLine-interviewText-green">当社ではクリエイターの意見が、世に出ていくものに強く反映されるということ。</span>ゲームづくりにおける判断は現場に任されているので、細かなコンテンツの表現等について経営陣からの横槍もなければ、逐一上長承認を取っていく作業、いわゆるスタンプラリーのようなプロセスもありません。もちろん、好き勝手にできるという意 味ではなく、「ユーザーさんが喜んでくれるか」「仲間も賛同してくれるか」という観点が必要ですが、そこを履き違えなければ、自分の思い通りのゲームがつくれるので、非常にやりがいを感じています。 </p>
                  </li>
                  <li class="p-interview-item" data-trigger="02">
                    <div class="p-interview-item-header">
                      <img class="p-interview-item-header-logo" src="<%= path %>interview/interveiw_logo_only.png" alt="ここがHappy Elements株式会社らしさ！">
                      <p class="p-interview-item-header-text">ここが<br class="u-tb-none">Happy Elements株式会社らしさ！</p>
                    </div>
                    <h4 class="p-interview-item-centerTitle">組織づくりにも、<br>自分の意見を反映できる。</h4>
                    <p class="p-interview-item-text">実は『メルスト』の開発以外にも、サウンドグループのリーダーも兼務しています。もともと当社には数名のサウンドクリエイターが在籍している程度で、グループはなかったのですが、「良いゲームをつくるために、彼らを育成して本格的にサウンドを内製したい」と代表の新井に主張したところ「確かにそうかも、じゃあリーダーを任せるよ」とポンっと新しい組織を任されました。ゲームづくりでも組織づくりでも、強い意志と責任を持った提案は取り上げられてもらえるところは、当社らしさだと思います。</p>
                  </li>
                  <li class="p-interview-item" data-trigger="03">
                    <h4 class="p-interview-item-title"><span>思い出に残る仕事</span>会場2,000人を湧かせた、オーケストラコンサート。</h4>
                    <p class="p-interview-item-text">これまでの仕事で最も印象に残っているのは、『メルスト』が5周年を迎えた2019年に初の音楽イベントを開催したことです。<span class="js-underLine-interviewText-green">一般のゲーム会社であれば、プロデューサーが別に立つと思うのですが、当社ではこうしたオフイベントも開発グループが主体となってプロデュースすることができます。</span><br> ユーザーさんがメルクとともに旅をしてきたゲームの世界を、オーケストラの生演奏と想い出の名シーンで振り返るイベントにしよう。そうしたコンセプトを打ち立てるところから、キャストの選定、出演交渉、選曲、会場の手配など、すべて自分たちの手で1年かけて準備を進めました。<br>初めてということもあって内心ドキドキしていましたが、当日の「コンサートホールカルッツかわさき」は満席。いつも耳にするゲーム中のサウンドが「東京シティ・フィルハーモニック管弦楽団」のみなさんによってドラマチックに奏でられ、スクリーンには要所で名シーンが映し出される。会場からすすり泣きが聞こえてきたとき、<span class="js-underLine-interviewText-green">「ユーザーさんに良い体験を提供できた」という手応えを感じました。</span></p>
                    <div class="p-interview-item-img">
                      <img class="" src="<%= path %>/interview/01/interview_y.u.jpg" alt="５周年を記念して『メルスト』初の音楽イベントを開催">
                      <span class="p-interview-item-img-caption">５周年を記念して『メルスト』初の音楽イベントを開催</span>
                    </div>
                    <!-- /.p-interview-item-img -->
                  </li>
                  <li class="p-interview-item" data-trigger="04">
                    <h4 class="p-interview-item-title"><span>今後の夢</span>いちプランナーとして、新たなゲームを生み出し続けたい。</h4>
                    <p class="p-interview-item-text">若手の育成や組織づくりなど、いろいろと責任ある仕事を任せてもらってはいますが、根本には新しいゲームを作りたいという思いがあります。今後は少しずつ自分が持っている役割を他の人に引き継いでいって、更にどっぷりとゲーム開発に浸かりたいですね。もともと、自分の世界観を表現できる場所を求めて当社に入社しましたが、その夢は常に手の届くところにあると感じています。<br>実際、<span class="js-underLine-interviewText-green">『メルスト』の開発現場では2022年にお目見えしたエンドコンテンツ『幻闘』の開発において、8年間ゲームを支えてきた設計思想を根幹からリニューアルして、バックエンドにも先進技術を取り込んだアソビを創出しています。</span>安定した長期コンテンツにおいては、いかに新体験創出のためとは言え、なかなかこれほどハイリスクな判断を取ることは珍しいと思うのですが、現場だけの判断で取り組みを決められるのは当社ならではという風に感じます。<br>もちろん、会社としては、『メルスト』以外の運営タイトルのほか、新規開発も絶賛稼働中ですので、ぜひ、私たちと同じ思いを持つプランナーの方には、この楽しい現場にご参加いただき、ともに素敵な体験を生み出していただければ‥と、心から思います。</p>
                  </li>
                </ul>
                <!-- /.p-interview-content -->
              </div>
              <!-- /.p-interview-inner -->
            </section>
            <section class="p-nextPrev u-zindex_1">
              <div class="p-nextPrev-inner">
                <div class="p-nextPrev-wrapper">
                  <div class="p-nextPrev-next">
                    <a href="../02/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-next-num">02.</span>
                        <span class="p-nextPrev-next-job">ENGINEER</span>
                        <p class="p-nextPrev-next-copy u-tb-none">
                          <span>過度にバグを恐れず、</span><br>
                          <span>新しい機能や楽しいイベントを</span><br>
                          <span>いち早くリリース。</span>
                        </p>
                        <p class="p-nextPrev-next-copy u-tb-show">
                          <span>過度にバグを恐れず、新しい機能や</span><br>
                          <span>楽しいイベントをいち早くリリース。</span>
                        </p>
                        <span class="p-nextPrev-next-name">NAME : T.T</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-blue"></div>
                        <img src="<%= path %>interview/top/interview_index02.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-next -->
                  <div class="p-nextPrev-prev">
                    <a href="../07/" class="p-nextPrev-link">
                      <div class="p-nextPrev-link-inner">
                        <span class="p-nextPrev-prev-num">07.</span>
                        <span class="p-nextPrev-prev-job">ENGINEER</span>
                        <p class="p-nextPrev-next-copy">
                          <span>コンテンツファーストでの</span><br>
                          <span>ゲーム作りに取り組む。</span>
                        </p>
                        <span class="p-nextPrev-prev-name">NAME : K.K</span>
                      </div>
                      <!-- /.p-nextPrev-link-inner -->
                      <figure class="p-nextPrev-img u-zindex_-1">
                        <div class="p-nextPrev-img-mask u-mask-blue"></div>
                        <img src="<%= path %>interview/top/interview_index07.jpg" alt="" class="p-nextPrev-img-inner u-zindex_-1">
                      </figure>
                    </a>
                  </div>
                  <!-- /.p-nextPrev-prev -->
                </div>
                <!-- /.p-nextPrev-wrapper -->
                <div class="c-returnBtn">
                  <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                  <p class="c-returnBtn-text">INDEX</p>
                </div>
              </div>
              <!-- /.p-nextPrev-inner -->
            </section>
          </main>
          <footer class="l-footer p-footer">
            <div class="p-footer-inner">
              <ul class="p-footer-nav">
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
                </li>
                <li class="p-footer-nav-item">
                  <a href="" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
                </li>
              </ul>
              <small class="p-footer__copy">&copy; Happy Elements K.K</small>
            </div>
            <!-- /.l-footer__inner -->
          </footer>
    </div>
    <!-- l-wrap -->
    </body>
    <script src="../../assets/js/bundle.js"></script>

    </html>
