<% const info={ title : "福利厚生/制度｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。働きやすさをサポートするさまざまな福利厚生や制度についてご紹介します。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <%- include("../../include/_threecanvas", {path: '../../' }) -%>
            <main class="l-main">
              <section class="p-indexHeaderJp">
                <div class="p-indexHeaderJp-inner">
                  <div class="p-indexHeaderJp-title">
                    <div class="p-indexHeaderJp-title-sub">
                      <p class="p-indexHeaderJp-title-en">CULTURE _ 04</p>
                      <p class="p-indexHeaderJp-title-ja">Happy Elements株式会社の<br class="u-sp-none">企業文化</p>
                    </div>
                    <h2 class="p-sectionHeader-title-main">
                      <ul class="p-sectionHeader-title-main-fonts js-title">
                        <li class="p-sectionHeader-title-main-font js-title-font">福</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">利</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">厚</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">生</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">/</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">制</li>
                        <li class="p-sectionHeader-title-main-font js-title-font">度</li>
                      </ul>
                    </h2>
                  </div>
                  <!-- /.p-indexHeaderJp-title -->
                  <div class="p-indexHeader-content">
                    <p class="p-indexHeader-content-text"> 熱狂的に愛されるコンテンツをユーザーに届けるために、スタッフ一人ひとりが主体的にものづくりに打ち込める環境を提供したい。そうした想いから、Happy Elements株式会社では長く安心して働くことのできる制度や文化、スタッフ自身の成長につながるような支援など、さまざまな福利厚生やサポート体制を用意しています。</p>
                  </div>
                  <!-- /.p-indexHeader-content -->
                </div>
                <!-- /.p-indexHeaderJp-inner -->
              </section>
              <section class="p-cultureList">
                <div class="p-cultureList-inner">
                  <ul class="p-cultureList-boxwrap">
                    <li class="p-cultureList-box js-content-show ">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_01.jpg" alt="インセンティブ制度">
                      </div>
                      <div class="p-cultureList-title">インセンティブ制度</div>
                      <p class="p-cultureList-desc"> 会社業績に応じたインセンティブを年1回支給いたします。また、特にグループに貢献したと認められた方には、ゲームタイトルごとの業績に応じたインセンティブも用意しています。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_02.jpg" alt="引越し支援金制度">
                      </div>
                      <div class="p-cultureList-title">引越し支援金制度</div>
                      <p class="p-cultureList-desc">社員の通勤環境を改善するための制度ですが、入社が決定している内定承諾者の方も対象としています。</p>
                      <div class="p-cultureList-note">
                        <span class="p-cultureList-note-txt">条件）</span>
                        <span class="p-cultureList-note-txt">正社員または契約社員で入社が決定している</span>
                        <span class="p-cultureList-note-txt">京都市外に在住で、（入社にともない）京都市内へ引っ越す場合でかつ、引越し後の通勤定期代が1万円以下</span>
                      </div>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_03.jpg" alt="新卒登用制度">
                      </div>
                      <div class="p-cultureList-title">新卒登用制度</div>
                      <p class="p-cultureList-desc">学生アルバイトとして勤務いただいている方に、卒業後も社員として働いてもらえるように、在学中に内定を出す制度です。（Happy Elements株式会社では一般的な新卒採用は行っていません）</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_04.jpg" alt="スキルアップサポート">
                      </div>
                      <div class="p-cultureList-title">スキルアップサポート</div>
                      <p class="p-cultureList-desc">技術向上や情報共有を目的として、勉強会や資料・技術書の購入などを積極的に行っています。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_05.jpg" alt="資格取得補助制度">
                      </div>
                      <div class="p-cultureList-title">資格取得補助制度</div>
                      <p class="p-cultureList-desc"> 会社が業務に役立つと判断した資格に合格した場合、その受験料を全額会社が負担します。事前に自分の受験する資格が対象かどうかを上長に確認する必要があります。また、不合格の場合は補助の対象になりません。 </p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_06.jpg" alt="クリエイターズフライデー">
                      </div>
                      <div class="p-cultureList-title">クリエイターズフライデー</div>
                      <p class="p-cultureList-desc"> 毎週金曜日は、各人が集中して作業を行うことにフォーカスする日とし、働く場所はオフィスでもリモートでもOKとしています。打合せや会議なども、金曜日には極力いれないようにしています。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_07.jpg" alt="体調不良時のリモートワーク許可制度">
                      </div>
                      <div class="p-cultureList-title">体調不良時の<br>リモートワーク許可制度</div>
                      <p class="p-cultureList-desc"> 体調不良時における月1回を上限としたリモートワーク許可制度です。そのような時はゆっくり休むことが大前提として、自宅での業務実施には支障がないが、通勤等が心身の負担になるといった場合や、女性特有の体調不良にも利用できます。 </p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_08.jpg" alt="サブプロジェクト制度">
                      </div>
                      <div class="p-cultureList-title">サブプロジェクト制度</div>
                      <p class="p-cultureList-desc"> 挑戦し成長できる機会の創出のため、アプリ・コンテンツ開発を行う独自プロジェクトを立ち上げることができる制度です。上長などの許可を得て、業務時間の一部をサブプロジェクトに充てることができます。 </p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_09.jpg" alt="イベント補助制度">
                      </div>
                      <div class="p-cultureList-title">イベント補助制度</div>
                      <p class="p-cultureList-desc">月1回、スタッフ同士の親睦を目的として、飲食等の費用を会社が負担しています。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_10.jpg" alt="社内交流イベント">
                      </div>
                      <div class="p-cultureList-title">社内交流イベント</div>
                      <p class="p-cultureList-desc"> 会社が費用を負担し、社員旅行、納会、チームビルディング食事会、職種交流会など、社員同士の親睦や交流を図る目的で、さまざまなイベントを開催しています。参加は自由です。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_11.jpg" alt="徒歩・自転車通勤手当">
                      </div>
                      <div class="p-cultureList-title">徒歩・自転車通勤手当</div>
                      <p class="p-cultureList-desc">徒歩・自転車などを利用して通勤を行っている社員には、手当として毎月1万円が支給されます。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_12.jpg" alt="フリードリンク">
                      </div>
                      <div class="p-cultureList-title">フリードリンク</div>
                      <p class="p-cultureList-desc"> 各フロアにウォーターサーバーをはじめ、コーヒーや清涼飲料水、お茶類、野菜ジュースなどを常備。誰でも無料で飲むことができます。また、終業後はアルコール類も飲み放題です。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_13.jpg" alt="ヘルシーフード制度">
                      </div>
                      <div class="p-cultureList-title">ヘルシーフード制度</div>
                      <p class="p-cultureList-desc">管理栄養士が監修した、新鮮なサラダやフルーツ、お惣菜を、オフィスにいながら、いつでも低価格で食べることができます。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_14.jpg" alt="マッサージ補助制度">
                      </div>
                      <div class="p-cultureList-title">マッサージ補助制度</div>
                      <p class="p-cultureList-desc">契約している近隣のマッサージ施設を低価格で利用することができます。デスクワークによる、肩こりや腰痛の改善を目的とした制度です。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_15.jpg" alt="スポーツジム補助">
                      </div>
                      <div class="p-cultureList-title">スポーツジム補助</div>
                      <p class="p-cultureList-desc">スタッフの健康増進を目的に、近隣の契約スポーツジムを無料で利用することができます。</p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_16.jpg" alt="副業OK">
                      </div>
                      <div class="p-cultureList-title">副業OK</div>
                      <p class="p-cultureList-desc">本業に支障をきたさないなどの社内ルールに沿っていれば、副業が認められます。個人での作品制作など、副業でも活躍している社員もいます。 </p>
                    </li>
                    <li class="p-cultureList-box js-content-show">
                      <div class="p-cultureList-pct">
                        <img src="<%= path %>culture/benefit/culture_17.jpg" alt="EAPサービス（カウンセラーへの無料相談）">
                      </div>
                      <div class="p-cultureList-title">EAPサービス<br>（カウンセラーへの無料相談）</div>
                      <p class="p-cultureList-desc"> 社員とその家族が外部のカウンセラーに無料相談できるサービスです。仕事や健康に関することはもちろん、法律や金銭問題、ご近所トラブルなどプライベートな内容も相談できます。会社が個人を特定できる相談内容を知ることはありません。 </p>
                    </li>
                  </ul>
                  <p class="p-cultureList-btm">そのほかにも、社会保険完備、育児・産前産後休暇など、一般的な各種福利厚生制度や、休暇制度も整えています。詳しくは募集要項よりご確認ください。</p>
                </div>
              </section>
              <div class="p-cultureOthers">
                <div class="p-bgTxt js-content-show">OTHER CULTURE</div>
                <h2 class="p-cultureOthers-head js-content-show">
                  <img src="<%= path %>culture/character/head_02.svg" alt="">
                </h2>
                <ul class="p-cultureOthers-list">
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../character/" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_01_pc.jpg" alt="Happy Elements株式会社のカルチャー" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_01_sp.jpg" alt="Happy Elements株式会社のカルチャー" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title u-top-40">
                        <span>01.</span>
                        <span>Happy Elements<br>株式会社のカルチャー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../officetour/" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_02_pc.jpg" alt="オフィスツアー" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_02_sp.jpg" alt="オフィスツアー" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title">
                        <span>02.</span>
                        <span>オフィスツアー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-cultureOthers-item js-content-show">
                    <a href="../data" class="p-cultureOthers-link">
                      <img src="<%= path %>culture/other/other_03_pc.jpg" alt="データで見るHappy Elements株式会社" class="p-cultureOthers-img--pc">
                      <img src="<%= path %>culture/other/other_03_pc.jpg" alt="データで見るHappy Elements株式会社" class="p-cultureOthers-img--sp">
                      <div class="p-cultureOthers-item-title u-top-40">
                        <span>03.</span>
                        <span>データで見る<br>Happy Elements株式会社</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </main>
            <%- include("../../include/_footer", {js: "../../" }) -%>
