<% var info={ title : "社員インタビュー｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。実際に働く社員に、入社動機、仕事内容、やりがいなどをインタビューしました。" , css: "../" }; %>
  <%- include("../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../assets/images/"]%>
        <%- include("../include/_header", {path: '../' }) -%>
          <%- include("../include/_threecanvas", {path: '../' }) -%>
            <main class="l-main">
              <button class="c-toUpBtn js-toUpBtn u-zindex_1">
              </button>
              <section class="p-indexHeader">
                <div class="p-indexHeader-inner">
                  <div class="p-indexHeader-title">
                    <h2 class="p-indexHeader-title-main">
                      <ul class="p-indexHeader-title-fonts js-title">
                        <li class="p-indexHeader-title-font js-title-font">I</li>
                        <li class="p-indexHeader-title-font js-title-font">N</li>
                        <li class="p-indexHeader-title-font js-title-font">T</li>
                        <li class="p-indexHeader-title-font js-title-font">E</li>
                        <li class="p-indexHeader-title-font js-title-font">R</li>
                        <li class="p-indexHeader-title-font js-title-font">V</li>
                        <li class="p-indexHeader-title-font js-title-font">I</li>
                        <li class="p-indexHeader-title-font js-title-font">E</li>
                        <li class="p-indexHeader-title-font js-title-font">W</li>
                      </ul>
                    </h2>
                    <h3 class="p-indexHeader-title-sub">社員インタビュー</h3>
                  </div>
                  <!-- /.p-indexHeader-title -->
                  <div class="p-indexHeader-content">
                    <p class="p-indexHeader-content-text">それぞれの強みを活かして日々ゲームづくりに挑む、Happy Elements株式会社の社員たちをご紹介します。</p>
                  </div>
                  <!-- /.p-indexHeader-content -->
                </div>
                <!-- /.p-indexHeader-inner -->
              </section>
              <section class="p-interviewIndex">
                <div class="p-interviewIndex-inner">
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./01" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">01.</span>
                        <span class="p-interviewIndex-cont-job">PLANNER</span>
                        <p class="p-interviewIndex-cont-copy u-tb-show">
                          <span class="js-underLine-interviewTop">ゲームにイベントに。</span><br>
                          <span class="js-underLine-interviewTop">自分達の世界観で、ユーザーを沸かせたい。</span>
                        </p>
                        <p class="p-interviewIndex-cont-copy u-tb-none">
                          <span class="js-underLine-interviewTop">ゲームにイベントに。</span><br>
                          <span class="js-underLine-interviewTop">自分達の世界観で、</span><br class="u-tb-none">
                          <span class="js-underLine-interviewTop">ユーザーを沸かせたい。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : Y.U</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index01.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./02" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">02.</span>
                        <span class="p-interviewIndex-cont-job">ENGINEER</span>
                        <p class="p-interviewIndex-cont-copy u-tb-show">
                          <span class="js-underLine-interviewTop">過度にバグを恐れず、</span><br>
                          <span class="js-underLine-interviewTop">新しい機能や楽しいイベントをいち早くリリース。</span>
                        </p>
                        <p class="p-interviewIndex-cont-copy u-tb-none">
                          <span class="js-underLine-interviewTop">過度にバグを恐れず、</span><br>
                          <span class="js-underLine-interviewTop">新しい機能や楽しいイベントを</span><br>
                          <span class="js-underLine-interviewTop">いち早くリリース。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : T.T</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index02.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./03" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">03.</span>
                        <span class="p-interviewIndex-cont-job">ILLUSTRATOR</span>
                        <p class="p-interviewIndex-cont-copy u-tb-show">
                          <span class="js-underLine-interviewTop">自分の描いたキャラクターがやがて</span><br>
                          <span class="js-underLine-interviewTop">ステージに立ち、アイドルとして熱狂を生みだす。</span>
                        </p>
                        <p class="p-interviewIndex-cont-copy u-tb-none">
                          <span class="js-underLine-interviewTop">自分の描いたキャラクターがやがて</span><br>
                          <span class="js-underLine-interviewTop">ステージに立ち、アイドル</span><br>
                          <span class="js-underLine-interviewTop">として熱狂を生みだす。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : K.M</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index03.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./04" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">04.</span>
                        <span class="p-interviewIndex-cont-job">DESIGNER</span>
                        <p class="p-interviewIndex-cont-copy">
                          <span class="js-underLine-interviewTop">ユーザーの喜ぶ姿を間近で見ながら、</span><br>
                          <span class="js-underLine-interviewTop">心を動かすクリエイティブを追求。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : K.A</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index04.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./05" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">05.</span>
                        <span class="p-interviewIndex-cont-job">DESIGNER</span>
                        <p class="p-interviewIndex-cont-copy u-tb-show">
                          <span class="js-underLine-interviewTop">誰かを感動させたい、</span><br>
                          <span class="js-underLine-interviewTop">という想いがないと自社開発はできない。</span>
                        </p>
                        <p class="p-interviewIndex-cont-copy u-tb-none">
                          <span class="js-underLine-interviewTop">誰かを感動させたい、</span><br>
                          <span class="js-underLine-interviewTop">という想いがないと</span><br>
                          <span class="js-underLine-interviewTop">自社開発はできない。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : S.T</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index05.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./06" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">06.</span>
                        <span class="p-interviewIndex-cont-job">ILLUSTRATOR</span>
                        <p class="p-interviewIndex-cont-copy u-tb-show">
                          <span class="js-underLine-interviewTop">苦手なタッチへの挑戦がユーザーの</span><br>
                          <span class="js-underLine-interviewTop">フェチ心に届き、わたしの武器を増やした。</span>
                        </p>
                        <p class="p-interviewIndex-cont-copy u-tb-none">
                          <span class="js-underLine-interviewTop">苦手なタッチへの挑戦が</span><br>
                          <span class="js-underLine-interviewTop">ユーザーのフェチ心に届き、</span><br>
                          <span class="js-underLine-interviewTop">わたしの武器を増やした。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : M.T</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask "></div>
                        <img src="<%= path %>interview/top/interview_index06.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                  <article class="p-interviewIndex-cont js-content-show">
                    <a href="./07" class="p-interviewIndex-cont-link">
                      <div class="p-interviewIndex-cont-link-inner">
                        <span class="p-interviewIndex-cont-num">07.</span>
                        <span class="p-interviewIndex-cont-job">ENGINEER</span>
                        <p class="p-interviewIndex-cont-copy">
                          <span class="js-underLine-interviewTop">コンテンツファーストでの</span><br>
                          <span class="js-underLine-interviewTop">ゲーム作りに取り組む。</span>
                        </p>
                        <span class="p-interviewIndex-cont-name">NAME : K.K</span>
                      </div>
                      <figure class="p-interviewIndex-cont-img u-zindex_-1">
                        <div class="p-interviewIndex-cont-mask"></div>
                        <img src="<%= path %>interview/top/interview_index07.jpg" alt="" class="p-interviewIndex-cont-img-inner u-zindex_-1">
                      </figure>
                    </a>
                    <span class="p-interviewIndex-circle"></span>
                  </article>
                </div>
                <!-- /.p-interviewIndex-inner -->
              </section>
            </main>
            <%- include("../include/_footer", {js: "../" }) -%>
